<template>
  <Modal
    :on-close="scheduleProvider.showHideAddScheduleModal"
  >
    <template v-slot:header >
      Ajouter un service
    </template>
    <template v-slot:body>
      <ScheduleForm
          title="Ajouter un service"
          :on-submit="scheduleProvider.createSchedule"
          label-submit="Ajouter"
      />
    </template>
    <template v-slot:back-button>
      Retour
    </template>
  </Modal>
</template>

<script>
import ScheduleForm from "@/components/ScheduleForm";
export default {
  components: {ScheduleForm},
  inject: ['scheduleProvider'],
  name: "AddScheduleModal"
}
</script>