<template>
  <Modal
    :on-close="scheduleProvider.hideEditScheduleModal"
  >
    <template v-slot:header >
      Ajouter un service
    </template>
    <template v-slot:body>
      <ScheduleForm
          title="Editer un service"
          :on-submit="submit"
          label-submit="Editer"
          :initial-values="schedule"
      />
    </template>
    <template v-slot:back-button>
      Retour
    </template>
  </Modal>
</template>

<script>
import ScheduleForm from "@/components/ScheduleForm";
import {formatISOTimeForForm} from "@/libs/timeFormatter";
export default {
  components: {ScheduleForm},
  inject: ['scheduleProvider'],
  name: "EditScheduleModal",
  data() {
    return {
      schedule: {
        ...this.scheduleProvider.scheduleToEditInModal,
        start: formatISOTimeForForm(this.scheduleProvider.scheduleToEditInModal.start),
        ending: formatISOTimeForForm(this.scheduleProvider.scheduleToEditInModal.ending)
      }
    }
  },
  methods: {
    submit(values) {
      this.scheduleProvider.putSchedule(this.schedule.id,values);
    },
  }
}
</script>