<template>
  <div>
    <h2 class="text-xl">Les services :</h2>
    <div class="flex flex-row justify-center">
      <div v-show="scheduleProvider.schedules.length > 0 && !scheduleProvider.loading">
        <div v-for="schedule in scheduleProvider.schedules" :key="schedule.id">
          <div>
            <h3 class="mt-4 font-bold">{{ schedule.name }}</h3>
            <span>De {{ formatISOTimeForList(schedule.start) }} à {{ formatISOTimeForList(schedule.ending) }}</span>
            <div>
              <div v-for="dayI in schedule.days" :key="dayI"
                   class="bg-gray-100 cursor-default px-2 rounded-full inline-block">
                {{ scheduleProvider.days[dayI] }}
              </div>
            </div>
          </div>
          <Button
            @click="scheduleProvider.setScheduleToShowReservationModal(schedule)"
            v-if="scheduleProvider.restaurant.validated && user.session && !user.isGranted('ROLE_ADMIN')"
            more-classes="mr-4"
            type="success"
          >
            Réserver
          </Button>
          <Button
              @click="scheduleProvider.showEditScheduleModal(schedule)"
              v-if="user.session && scheduleProvider.restaurant.owner.id === user.session.id"
              type="primary"
          >
            Editer
          </Button>
          <Button
              @click="scheduleProvider.deleteSchedule(schedule)"
              v-if="user.session && scheduleProvider.restaurant.owner.id === user.session.id"
              type="danger"
              more-classes="ml-4"
          >
            Supprimer
          </Button>
        </div>
      </div>
      <div v-show="scheduleProvider.schedules.length == 0 && !scheduleProvider.loading">
        Aucun service trouvé
      </div>
      <div v-show="scheduleProvider.loading">
        Chargement...
      </div>
      <div class="w-5" v-show="!scheduleProvider.loading">
        <img :src="refresh" class="w-5 h-5 hover:bg-gray-200 cursor-pointer rounded-full" @click="scheduleProvider.getSchedules()">
      </div>
    </div>
    <Button @click="scheduleProvider.showHideAddScheduleModal"
            v-if="user.session && scheduleProvider.restaurant.owner.id === user.session.id && scheduleProvider.restaurant.validated"
            type="primary"
            more-classes="font-bold mt-4">
      Ajouter
    </Button>
    <AddScheduleModal v-if="scheduleProvider.showAddScheduleModal"/>
    <EditScheduleModal v-if="scheduleProvider.scheduleToEditInModal !== null"/>
    <ReservationProvider
        v-if="scheduleProvider.scheduleToShowReservationModal !== null"
        :on-close="scheduleProvider.hideScheduleToShowReservationModal"
        :restaurant="scheduleProvider.restaurant"
        :schedule="scheduleProvider.scheduleToShowReservationModal"
    >
      <ReservationModal/>
    </ReservationProvider>
  </div>
</template>

<script>
import AddScheduleModal from "@/views/Schedules/AddScheduleModal";
import EditScheduleModal from "@/views/Schedules/EditScheduleModal";
import ReservationModal from "@/views/Reservations/ReservationModal";
import {formatISOTimeForList} from "@/libs/timeFormatter";
import refresh from "@/assets/refresh.png";
import ReservationProvider from "../../providers/ReservationProvider";

export default {
  name: "SchedulesList",
  components: {ReservationProvider, EditScheduleModal, AddScheduleModal, ReservationModal},
  inject: ['user', 'scheduleProvider'],
  data: () => ({
    refresh
  }),
  methods: {formatISOTimeForList}
}
</script>

<style scoped>

</style>
