<template>
  <div class="relative">
    <h1>Gestions des utilisateurs</h1>
    <AdminUserListProvider>
      <UsersList />
    </AdminUserListProvider>
  </div>
</template>

<script>
import AdminUserListProvider from "../../../providers/AdminUserListProvider";
import UsersList from "./UsersList";
export default {
  name:'UserManagement',
  components: {AdminUserListProvider, UsersList},
}
</script>
