<template>
  <div v-if="showUser" class="px-4 inset-0 absolute">
    <div class="z-10 w-10/12 mt-24 border border-gray-200 rounded-lg shadow-lg bg-white p-4 mx-auto">
        <p> Id: {{data.id}}</p>
        <p> Nom: {{data.lastname}}</p>
        <p> Prénom: {{data.firstname}}</p>
        <p> Email: {{data.email}}</p>
        <p>Roles: {{data.roles.join(', ')}}</p>
        <p v-if="data.roles.includes('ROLE_RESTORER')">Restaurateur approuvé: {{data.restorerValidated ? 'OUI' :  'NON'}}</p>
        <p>Banni: {{data.banned ? 'OUI' : 'NON'}}</p>
      <Button
          text="Fermer"
          @action="hide"
          icon="times"
          :style-button="styleButtonClose"/>
    </div>
  </div>
</template>

<script>
import Button from "../../../components/modules/Button";
export default {
  name: 'User',
  components: {Button},
  props: {
    data: Object,
    showUser: Boolean,
    hide: Function
  },
  data() {
    return {
      styleButtonClose: "rounded-lg bg-red-400 shadow-md shadow-red-400/50 text-md py-2 px-4 text-white mx-2"
    }
  }
}
</script>
