<template>
  <div class="w-full mb-24">
    <div>
      <h2>Les filtres :</h2>
      <div>
        <label>
          Le prénom :
          <input type="text" v-model="filters.firstname" placeholder="Prénom"/>
        </label><br/>
        <label>
          Le nom :
          <input type="text" v-model="filters.lastname" placeholder="Nom"/>
        </label><br/>
        <label>
          L'adresse mail :
          <input type="text" v-model="filters.email" placeholder="Email"/>
        </label><br/>
        <label>
          S'il est un restaurateur validé :
          <input type="checkbox" v-model="filters.restorerValidated"/>
        </label><br/>
        <label>
          Non confirmé :
          <input type="checkbox" v-model="filters.registerToken"/>
        </label><br/>
        <label>
          Role :
          <select v-model="filters.roles">
            <option value="">Tous</option>
            <option
                v-for="[role,label] in Object.entries(roleNames)"
                :key="role"
                :value="role"
            >
              {{ label }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <LoadingAdminList :loaded="adminUserListProvider.isLoading"/>
    <table v-if="!adminUserListProvider.isLoading"
           class="table-auto border-collapse border border-gray-200 shadow-xl bg-white rounded-xl mt-4 p-4 w-11/12 mx-auto">
      <thead>
      <tr>
        <th class="pt-4" v-for="(item, index) in itemsToList.correspondence"
            :key="index">
          <div class="mx-2">
            {{ item }}
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="items in adminUserListProvider.usersList"
          :key="items.id">
        <td v-for="(func, item) in itemsToList.values"
            :key="item">
          {{ func(items[item],items) }}
        </td>
        <td class="flex flex-row justify-center my-2">
          <div v-for="(button, index) in buttons" :key="index">
            <Button
                v-show="button.condition === undefined || button.condition(items)"
                :text="button.text"
                :style-button="button.style"
                @action="button.action(items)"
                :icon="button.icon"/>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <User
        :show-user="adminUserListProvider.showUser"
        :data="adminUserListProvider.userData"
        :hide="adminUserListProvider.hideUser"/>
    <GiveReasonModal
        v-if="adminUserListProvider.userToShowReasonToBan !== null"
        :on-close="adminUserListProvider.hideUserToShowReasonToBan"
        :on-submit="(reason) => adminUserListProvider.banUnbanUserById(adminUserListProvider.userToShowReasonToBan,true,reason)"
    />
  </div>
</template>
<script>
import User from "./User";
import LoadingAdminList from "../../../components/LoadingAdminList";
import Button from "../../../components/modules/Button";
import GiveReasonModal from "@/components/GiveReasonModal";

export default {
  name: 'UsersList',
  components: {GiveReasonModal, User, LoadingAdminList, Button},
  inject: ['adminUserListProvider', 'user'],
  beforeMount() {
    if (this.user.isGranted('ROLE_ADMIN'))
      this.adminUserListProvider.getAllUsers(this.filters);
  },
  data: function () {
    const roleNames = {
      ROLE_RESTORER: 'ROLE RESTAURATEUR',
      ROLE_USER: 'ROLE UTILISATEUR',
      ROLE_ADMIN: 'ROLE ADMIN'
    }
    return {
      filters: {
        firstname: "",
        lastname: "",
        email: "",
        restorerValidated: false,
        roles: '',
        registerToken: false
      },
      roleNames,
      itemsToList: {
        values: {
          id: id => id,
          lastname: value => value,
          firstname: value => value,
          email: value => value,
          roles: value => value.map(role => roleNames[role]).join(', '),
          restorerValidated: (value,user) => user.roles.includes('ROLE_RESTORER') ? (value ? 'OUI' : "NON") : "-",
          banned: value => value ? 'OUI' : 'NON'
        },
        correspondence: ['ID', 'Nom', 'Prénom', 'Email', 'Roles', 'Restaurateur validé', 'Banni', 'Actions']
      },
      buttons: [
        {
          text: 'Voir',
          style: "is-active rounded-lg bg-green-400 shadow-md shadow-green-400/50 text-md py-2 px-4 text-white mx-2",
          icon: "eye",
          action: user => this.adminUserListProvider.getUser(user.id)
        },
        {
          text: 'Bannir',
          style: "is-active rounded-lg bg-red-400 shadow-md shadow-green-400/50 text-md py-2 px-4 text-white mx-2",
          icon: "door-closed",
          action: user => this.adminUserListProvider.setUserToShowReasonToBan(user),
          condition: user => !user.banned && user.id !== this.user.session.id
        },
        {
          text: 'Débannir',
          style: "is-active rounded-lg bg-yellow-400 shadow-md shadow-green-400/50 text-md py-2 px-4 text-white mx-2",
          icon: "door-open",
          action: user => this.adminUserListProvider.banUnbanUserById(user, false),
          condition: user => user.banned
        },
        {
          text: 'Valider restaurateur',
          style: "is-active rounded-lg bg-yellow-400 shadow-md shadow-green-400/50 text-md py-2 px-4 text-white mx-2",
          icon: "door-open",
          action: user => this.adminUserListProvider.validateRestorer(user),
          condition: user => user.roles.includes('ROLE_RESTORER') && !user.restorerValidated
        }
      ],
    }
  },
  watch: {
    filters: {
      handler(filters) {
        this.adminUserListProvider.getAllUsers(filters);
      },
      deep: true
    }
  }
}
</script>
