<template>
  <div id="app">
    <AlertProvider>
      <LoadingProvider>
        <UserProvider>
          <Navbar/>
          <router-view/>
        </UserProvider>
      </LoadingProvider>
    </AlertProvider>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";

import AlertProvider from "@/providers/AlertProvider";
import UserProvider from "@/providers/UserProvider";
import LoadingProvider from "./providers/LoadingProvider";

export default {
  name: "App",
  components: {LoadingProvider, Navbar, UserProvider,AlertProvider}
}

</script>

<style>
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  padding: 0 10px;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
