<template>
  <div>
    <div class="mb-4" v-if="restaurant.validated">
      <div class="mb-2" v-if="restaurant.averageNote">
        <h2>Note moyenne :</h2>
        <RestaurantShowNote :note="restaurant.averageNote"/>
      </div>
      <div v-if="user.session !== null">
        <div v-if="restaurantProvider.customerNote !== null && !restaurantProvider.showSetCustomerNote">
          <h2>Votre note :</h2>
          <RestaurantShowNote :note="restaurantProvider.customerNote"/>
        </div>
        <div v-else-if="!restaurantProvider.showSetCustomerNote">Vous n'avez mis aucune note</div>
        <RestaurantDefineNote
            v-if="restaurantProvider.showSetCustomerNote"
            :on-select="restaurantProvider.setCustomerNote"
            :initial-note="restaurantProvider.customerNote"
        />
        <font-awesome-icon
            :icon="restaurantProvider.showSetCustomerNote ? 'times' : 'edit'"
            :title="restaurantProvider.showSetCustomerNote ? 'Cacher' : 'Définir'"
            class="hover:bg-gray-200 cursor-pointer"
            @click="restaurantProvider.showHideSetCustomerNote()"
        />
        <font-awesome-icon
            v-show="!restaurantProvider.showSetCustomerNote && restaurantProvider.customerNote"
            @click="restaurantProvider.deleteNote()"
            icon="trash"
            class="hover:bg-gray-200 cursor-pointer ml-4"
        />
      </div>
    </div>
    <p v-if="user.session && !restaurant.validated && restaurant.owner.id === user.session.id" class="mb-8">
      Ce restaurant n'a pas encore été validé par un administrateur.<br/>
      Vous devez attendre qu'il soit validé avant de pouvoir le configurer
    </p>
    <div>
      <h2 class="text-xl">Les types :</h2>
      <div v-if="restaurant.restaurantTypes.length > 0">
        <div
            v-for="restaurantType in restaurant.restaurantTypes"
            :key="restaurantType.id"
            class="bg-gray-200 cursor-default font-bold py-2 px-4 rounded-full inline-block"
        >
          {{ restaurantType.name }}
        </div>
      </div>
      <div v-else>
        Ce restaurant n'a aucun type
      </div>
      <Button
        type="success"
        v-if="user.session && restaurant.owner.id === user.session.id && restaurant.validated"
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantDefineTypesSection.name)"
      >
        En définir {{ restaurant.restaurantTypes.length > 0 ? "d'autres" : "" }}
      </Button>
    </div>
    <hr/>
    <div>
      <h2 class="text-xl">Les informations :</h2>
      <div>
        <span>La ville :</span>
        <span class="ml-3">{{ restaurant.city }} ({{ restaurant.zipcode }})</span>
      </div>
      <div>
        <span>L'adresse :</span>
        <span class="ml-3">{{ restaurant.address }}</span>
      </div>
      <div>
        <span>Numéro de téléphone :</span>
        <span class="ml-3">{{ restaurant.phonenumber }}</span>
      </div>
      <div>
        <span>Nombre de places :</span>
        <span class="ml-3">{{ restaurant.nbPlace }}</span>
      </div>
    </div>
    <hr/>
    <div>
      <ScheduleProvider v-if="restaurantProvider.restaurant.validated" :restaurant="restaurantProvider.restaurant">
        <SchedulesList/>
      </ScheduleProvider>
    </div>
    <div>
      <hr/>
      <Button
          v-if="restaurant.validated"
          @click="restaurantProvider.setViewToDisplayInModal(RestaurantMenusSection.name)"
          more-classes="rounded-lg px-8 mt-5"
          type="secondary-light"
      >
        {{ (user.session && restaurant.owner.id === user.session.id) ? 'Voir / éditer' : "Voir" }} les menus
      </Button>
      <hr/>
      <Button
        v-if="user.isGranted('ROLE_RESTORER') && !restaurant.isMember"
        @click="restaurantProvider.displayAskToJoinReasonModal()"
        more-classes="rounded-lg px-8 mt-5"
        type="secondary-light"
      >
        Demander à rejoindre
      </Button>
      <hr/>
      <Button
        v-if="restaurant.isMember"
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantMembersSection.name)"
        more-classes="rounded-lg px-8 mt-5"
        type="secondary-light"
      >
        Voir les membres
      </Button>
      <hr/>
      <Button
          v-if="user.session && restaurant.owner.id === user.session.id && restaurant.validated"
          @click="restaurantProvider.setViewToDisplayInModal(RestaurantJoinRequestSection.name)"
          more-classes="rounded-lg px-8 mt-5"
          type="secondary-light"
      >
        Voir les demandes de recrutement
      </Button>
      <hr/>
      <router-link :to="'/reservations?restaurant='+restaurantProvider.restaurant.id" target="_blank">
        <Button
            v-if="restaurant.isMember"
            type="secondary-light"
            more-classes="rounded-lg px-8 mt-5"
        >
          Voir ses réservations
        </Button>
      </router-link>
      <hr/>
      <Button
          v-if="restaurant.isMember && (user.session || user.session.id !== restaurant.owner.id)"
          @click="restaurantProvider.displayModalReasonToLeave()"
          more-classes="rounded-lg px-8 mt-5"
          type="secondary"
      >
        Quitter ce restaurant
      </Button>
      <hr/>
      <Button
          v-if="user.session && restaurant.owner.id === user.session.id && restaurant.validated"
          @click="restaurantProvider.setViewToDisplayInModal(RestaurantEditSection.name)"
          type="primary"
          more-classes="mt-10"
      >
          Editer
      </Button>
      <br/>
      <div v-if="user.isGranted('ROLE_ADMIN') && !restaurant.validated">
        <Button
          type="danger"
          more-classes="mx-5"
          @click="restaurantProvider.denyRestaurant(restaurant.id)"
        >
          Refuser
        </Button>
        <Button
            type="success"
            more-classes="mx-5"
            @click="restaurantProvider.validateRestaurant(restaurant.id)"
        >
          Valider
        </Button>
        <hr/>
      </div>
      <Button
          v-if="(user.isGranted('ROLE_ADMIN') && restaurant.validated) || (user.session && restaurant.owner.id === user.session.id)"
          @click="restaurantProvider.deleteRestaurantClick(restaurant.id)"
          type="danger"
          more-classes="mt-10"
      >
        Supprimer
      </Button>
      <!-- use v-if instead of v-show, to reset form when it is displaying -->
      <GiveReasonModal
          v-if="restaurantProvider.showModalReasonForAdminDelete ||
                  restaurantProvider.showAskToJoinReasonModal ||
                  restaurantProvider.showModalReasonToLeave"
          :on-close="restaurantProvider.closeReasonModal"
          :on-submit="(reason) => restaurantProvider.validReasonModal(restaurant.id,reason)"
      />
    </div>
  </div>
</template>

<script>
import RestaurantEditSection from "@/views/Restaurants/RestaurantModal/RestaurantEditSection";
import RestaurantDefineTypesSection from "@/views/Restaurants/RestaurantModal/RestaurantDefineTypesSection";
import RestaurantJoinRequestSection from "@/views/Restaurants/RestaurantModal/RestaurantJoinRequestSection";
import RestaurantMenusSection from "@/views/Restaurants/RestaurantModal/RestaurantMenusSection";
import ScheduleProvider from "@/providers/ScheduleProvider";
import RestaurantMembersSection from "@/views/Restaurants/RestaurantModal/RestaurantMembersSection";
import SchedulesList from "@/views/Schedules/SchedulesList";
import GiveReasonModal from "@/components/GiveReasonModal";
import RestaurantShowNote from "../RestaurantShowNote";
import RestaurantDefineNote from "../RestaurantDefineNote";

export default {
  name: "RestaurantDetails",
  components: {RestaurantDefineNote, RestaurantShowNote, GiveReasonModal, SchedulesList, ScheduleProvider},
  inject: ['restaurantProvider', 'user'],
  data() {
    return {
      restaurant: this.restaurantProvider.restaurant,
      RestaurantEditSection,
      RestaurantDefineTypesSection,
      RestaurantJoinRequestSection,
      RestaurantMenusSection,
      RestaurantMembersSection
    }
  }
}
</script>

<style scoped>

</style>
