<template>
  <Card :title="member.firstname+' '+member.lastname">
    <div>
      Email : {{member.email}}
    </div>
    <Button
        v-if="user.session && restaurant.owner.id === user.session.id && member.id !== user.session.id"
        @click="restaurantProvider.setMemberIdToBan(member.id)"
        type="danger"
    >
      Bannir
    </Button>
  </Card>
</template>

<script>
export default {
  name: "RestaurantShowMember",
  inject: ['restaurantProvider','user'],
  data() {
    return {
      restaurant: this.restaurantProvider.restaurant
    }
  },
  props: {
    member: Object
  }
}
</script>