<template>
  <div>
    <h1 class="text-2xl">Membres du restaurant {{restaurant.name}}</h1>
    <div class="flex flex-row justify-center">
      <div :class="''+((!restaurantProvider.loadingMembers && restaurant.members !== null && restaurant.members.length > 0) ? 'flex' : 'hidden')+' flex-col justify-center items-center'">
        <RestaurantShowMember v-for="member in restaurant.members" :key="member.id" :member="member"/>
      </div>
      <div v-show="!restaurantProvider.loadingMembers && (restaurant.members === null || restaurant.members.length === 0)">
        Aucun membre n'a été trouvé
      </div>
      <div v-show="restaurantProvider.loadingMembers">
        Chargement...
      </div>
      <div class="w-5" v-show="!restaurantProvider.loadingMembers">
        <img :src="refresh" class="w-5 h-5 hover:bg-gray-200 cursor-pointer rounded-full" @click="restaurantProvider.getRestaurantMembers(restaurant.id)">
      </div>
    </div>
    <Button
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantDetails.name)"
        type="secondary"
        more-classes="mt-10"
    >
      Retour
    </Button>
    <GiveReasonModal
        v-show="restaurantProvider.memberIdToBan !== null"
        :on-close="() => restaurantProvider.setMemberIdToBan(null)"
        :on-submit="(reason) => restaurantProvider.banRestaurantMember(restaurant.id,restaurantProvider.memberIdToBan,reason)"
    />
  </div>
</template>

<script>
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";
import RestaurantShowMember from "@/views/Restaurants/RestaurantModal/RestaurantShowMember";
import GiveReasonModal from "@/components/GiveReasonModal";
import refresh from "@/assets/refresh.png";

export default {
  name: "RestaurantMembersSection",
  inject: ["restaurantProvider"],
  components: {GiveReasonModal, RestaurantShowMember},
  data() {
    return {
      RestaurantDetails,
      restaurant: this.restaurantProvider.restaurant,
      refresh
    }
  },
  beforeMount() {
    if (this.restaurant.members === null) {
      this.restaurantProvider.getRestaurantMembers(this.restaurant.id);
    }
  }
}
</script>

<style scoped>

</style>