<template>
  <div>
    <RestaurantJoinRequestProvider :restaurant="restaurantProvider.restaurant">
      <ListRestaurantJoinRequests/>
    </RestaurantJoinRequestProvider>
    <Button
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantDetails.name)"
        type="secondary"
        more-classes="mt-10"
    >
      Retour
    </Button>
  </div>
</template>

<script>
import RestaurantJoinRequestProvider from "@/providers/RestaurantJoinRequestProvider";
import ListRestaurantJoinRequests from "@/views/RestaurantJoinRequests/ListRestaurantJoinRequests";
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";

export default {
  name: "RestaurantJoinRequestSection",
  inject: ['restaurantProvider'],
  components: {ListRestaurantJoinRequests, RestaurantJoinRequestProvider},
  data: () => ({
    RestaurantDetails
  })
}
</script>

<style scoped>

</style>