<template>
  <div>
    <RestaurantForm
      :initial-values="{
           name: restaurant.name,
           city: restaurant.city,
           zipcode: restaurant.zipcode,
           address: restaurant.address,
           phonenumber: restaurant.phonenumber,
           nbPlace: restaurant.nbPlace
        }"
      :title="'Editer le restaurant '+restaurant.name"
      :on-submit="submit"
      :violations="restaurantProvider.violations"
      label-submit="Modifier"
    />
    <Button
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantDetails.name)"
        type="secondary"
        more-classes="mt-10"
    >
      Retour
    </Button>
  </div>
</template>

<script>
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";
import RestaurantForm from "@/components/RestaurantForm";

export default {
  name: "RestaurantEditSection",
  components: {RestaurantForm},
  inject: ['restaurantProvider'],
  data() {
    return {
      RestaurantDetails,
      restaurant: this.restaurantProvider.restaurant
    }
  },
  methods: {
    submit(values) {
      this.restaurantProvider.putRestaurant(this.restaurant.id,values);
    }
  }
}
</script>