<template>
  <Modal
      :on-close="restaurantProvider.closeModal"
      width_class="max-w-full"
  >
    <template v-slot:header>
      {{restaurant.name}}
    </template>
    <template v-slot:body>
      <component :is="restaurantProvider.viewToDisplayInRestaurantModal"></component>
    </template>
    <template v-slot:back-button>
      Fermer la fenêtre
    </template>
  </Modal>
</template>

<script>
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";
import RestaurantEditSection from "@/views/Restaurants/RestaurantModal/RestaurantEditSection";
import RestaurantDefineTypesSection from "@/views/Restaurants/RestaurantModal/RestaurantDefineTypesSection";
import RestaurantJoinRequestSection from "@/views/Restaurants/RestaurantModal/RestaurantJoinRequestSection";
import RestaurantMenusSection from "@/views/Restaurants/RestaurantModal/RestaurantMenusSection";
import RestaurantMembersSection from "@/views/Restaurants/RestaurantModal/RestaurantMembersSection";

export default {
  name: "RestaurantModal",
  inject: ['restaurantProvider'],
  components: {RestaurantDetails, RestaurantEditSection, RestaurantDefineTypesSection, RestaurantJoinRequestSection, RestaurantMenusSection, RestaurantMembersSection},
  data() {
    return {
      restaurant: this.restaurantProvider.restaurant,
    }
  }
}
</script>