<template>
  <div>
    <h2 class="text-xl">Editer les types :</h2>
    <div
        @click="addRemoveRestaurantType(ARestaurant.id)"
        :key="ARestaurant.id"
        v-for="ARestaurant in restaurantProvider.restaurantTypes"
        :class="(selectedRestaurantTypes.includes(ARestaurant.id) ? 'bg-green-500 hover:bg-green-700 text-white ' : 'bg-gray-200 hover:bg-gray-400')+' cursor-pointer font-bold py-2 px-4 rounded-full inline-block'"
    >
      {{ ARestaurant.name }}
    </div>
    <div v-if="user.isGranted('ROLE_RESTORER')" class="bg-gray-100 hover:bg-gray-200 rounded-full mt-8">
      <a href="#" @click="restaurantProvider.showHideProposeNewTypeModal">Suggérer un nouveau type de restaurant</a>
    </div>

    <Button
        @click="restaurantProvider.putRestaurantTypes(restaurant.id,selectedRestaurantTypes)"
        type="primary"
        more-classes="mt-10"
    >
      Appliquer
    </Button>
    <br/>
    <Button
        @click="restaurantProvider.setViewToDisplayInModal(RestaurantDetails.name)"
        type="secondary"
        more-classes="mt-10"
    >
      Retour
    </Button>
    <ProposeNewType v-if="restaurantProvider.showProposeNewTypeModal" :on-close="restaurantProvider.showHideProposeNewTypeModal"/>
  </div>
</template>

<script>
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";
import ProposeNewType from "@/views/Restaurants/ProposeNewType";

export default {
  name: "RestaurantDefineTypesSection",
  components: {ProposeNewType},
  inject: ['restaurantProvider', 'user'],
  data() {
    return {
      selectedRestaurantTypes:
          this.restaurantProvider.restaurant.restaurantTypes.map(type => type.id),
      restaurant: this.restaurantProvider.restaurant,
      RestaurantDetails
    }
  },
  methods: {
    addRemoveRestaurantType(id) {
      for (let i=0;i<this.selectedRestaurantTypes.length;i++) {
        if (this.selectedRestaurantTypes[i] === id) {
          this.selectedRestaurantTypes.splice(i,1);
          return;
        }
      }
      this.selectedRestaurantTypes.push(id);
    }
  }
}
</script>