<template>
  <div>
    <h1 class="text-2xl">Menu du restaurant {{restaurantProvider.restaurant.name}}</h1>
    <MenuProvider :restaurant="restaurantProvider.restaurant">
      <RecursiveShowMenus/>
    </MenuProvider>
    <Button @click="restaurantProvider.setViewToDisplayInModal(RestaurantDetails.name)">
      Retour
    </Button>
  </div>
</template>

<script>
import MenuProvider from "@/providers/MenuProvider";
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";

export default {
  name: "RestaurantMenusSection",
  components: {MenuProvider},
  inject: ['restaurantProvider'],
  data: () => ({
    RestaurantDetails
  })
}
</script>

<style scoped>

</style>