<template>
  <div>
    <button @click="handleClick" :class="styleButton">
      <font-awesome-icon :icon="icon"/> {{text}}
    </button>
  </div>
</template>

<script>
export default {
  name: 'Button',
  props: {
    styleButton: String,
    text: String,
    icon: String
  },
  methods: {
    handleClick() {
      this.$emit('action')
    }
  }
}
</script>