<template>
  <div>
    <h1 class="text-2xl">Voici les demandes de recrutement :</h1>
    <div class="flex flex-row justify-center">
      <div :class="(!restaurantJoinRequestProvider.loading && restaurantJoinRequestProvider.restaurantJoinRequests.length > 0 ? 'flex' : 'hidden')+' flex-col justify-center items-center'" >
        <ShowRestaurantJoinRequest
            v-for="restaurantJoinRequest in restaurantJoinRequestProvider.restaurantJoinRequests"
            :key="restaurantJoinRequest.id"
            :restaurant-join-request="restaurantJoinRequest"
            class="my-4"
        />
      </div>
      <div v-show="!restaurantJoinRequestProvider.loading && restaurantJoinRequestProvider.restaurantJoinRequests.length === 0" class="mt-4">
        Aucune demande de recrutement
      </div>
      <div v-show="restaurantJoinRequestProvider.loading">
        Chargement...
      </div>
      <div class="w-5" v-show="!restaurantJoinRequestProvider.loading">
        <img :src="refresh" class="w-5 h-5 hover:bg-gray-200 cursor-pointer rounded-full" @click="restaurantJoinRequestProvider.getJoinRequests()">
      </div>
    </div>
  </div>
</template>

<script>
import ShowRestaurantJoinRequest from "@/views/RestaurantJoinRequests/ShowRestaurantJoinRequest";
import refresh from '@/assets/refresh.png'

export default {
  name: "ListRestaurantJoinRequests",
  components: {ShowRestaurantJoinRequest},
  inject: ['restaurantJoinRequestProvider'],
  data: () => ({
    refresh
  })
}
</script>

<style scoped>

</style>
