<template>
  <Card :title="'De '+restaurantJoinRequest.restorer.firstname+' '+restaurantJoinRequest.restorer.lastname">
    <p>Email: {{restaurantJoinRequest.restorer.email}}</p>
    <p class="font-bold mt-4">{{restaurantJoinRequest.reason}}</p>
    <div class="mt-4">
      <Button
          @click="restaurantJoinRequestProvider.acceptJoinRequest(restaurantJoinRequest)"
          type="primary"
          more-classes="ml-4"
      >
        Accepter
      </Button>
      <Button
          @click="restaurantJoinRequestProvider.denyJoinRequest(restaurantJoinRequest)"
          type="danger"
          more-classes="ml-4"
      >
        Refuser
      </Button>
    </div>
  </Card>
</template>

<script>
export default {
  name: "ShowRestaurantJoinRequest",
  inject: ['restaurantJoinRequestProvider'],
  props: {
    restaurantJoinRequest: Object
  }
}
</script>

<style scoped>

</style>