<template>
  <div class="relative">
    <h1>Suggestions</h1>
    <AdminSuggestionListProvider>
      <SuggestionsList />
    </AdminSuggestionListProvider>
  </div>
</template>

<script>
import AdminSuggestionListProvider from "../../../providers/AdminSuggestionListProvider";
import SuggestionsList from "./SuggestionsList"
export default {
  name:'Suggestions',
  components: {AdminSuggestionListProvider, SuggestionsList},
}
</script>
