<template>
  <div class="w-full mb-24">
    <input
        type="text"
        v-model="searchSuggestions"
        placeholder="Rechercher..."
        class="w-1/3 rounded-md shadow-md border-gray-200 mt-4">
    <LoadingAdminList :loaded="adminSuggestionListProvider.isLoading"/>
    <table v-if="!adminSuggestionListProvider.isLoading" class="table-auto border-collapse border border-gray-100 shadow-xl bg-white rounded-lg mt-4 p-4 w-11/12 mx-auto">
      <thead>
      <tr>
        <th class="pt-4" v-for="(item, index) in itemsToList.correspondence"
            :key="index">
          <div class="mx-2" >
            {{item}}
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="items in filteredSuggestions"
          :key="items.id">
        <td>{{items.id}}</td>
        <td>{{items.name}}</td>
        <td>{{items['proposer'].firstname}}</td>
        <td>{{items['proposer'].lastname}}</td>
        <td>{{items['proposer'].email}}</td>
        <td class="flex flex-row justify-center my-2">
          <div v-for="(button, index) in buttons" :key="index">
            <Button
                :text="button.text"
                :style-button="button.style"
                @action="button.action(items.id)"
                :icon="button.icon" />
          </div>
        </td>
      </tr>
      <tr v-show="filteredSuggestions.length === 0">
        <td colspan="6">Aucune suggestion trouvée</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import LoadingAdminList from "../../../components/LoadingAdminList";
import Button from "../../../components/modules/Button";
export default {
  name: 'UsersList',
  components: {LoadingAdminList, Button},
  inject: ['adminSuggestionListProvider'],
  data: function() {
    return {
      itemsToList: {
        values: {
          id: 'id',
          name: 'name'
        },
        correspondence: ['ID', 'Type', 'Nom', 'Prénom', 'Email', 'Actions']
      },
      buttons: [
        {text: 'Valider', style: "rounded-lg bg-green-400 shadow-md shadow-green-400/50 text-md py-2 px-4 text-white mx-2", icon:"eye", action: id => { if(confirm('Voulez-vous valider cete suggestion ?')) this.adminSuggestionListProvider.validSuggestionType(id) }},
        {text: 'Refuser', style: "rounded-lg bg-red-400 shadow-md shadow-orange-400/50 text-md py-2 px-4 text-white mx-2", icon:"times-circle", action: id => { if(confirm('Voulez-vous refuser cette suggestion ?')) this.adminSuggestionListProvider.denySuggestionType(id) }}
      ],
      searchSuggestions: ''
    }
  },
  computed: {
    filteredSuggestions() {
      const regexEmail = new RegExp('^[a-zA-Z]+.@[a-zA-Z]+')
      if(this.searchSuggestions !== '') {
        let arrayItems = []
        if(regexEmail.test(this.searchSuggestions)) {
          this.adminSuggestionListProvider.suggestionsList.filter(item => {
            if(item['proposer'].email.toLowerCase().match(this.searchSuggestions.toLowerCase())) {
              arrayItems.push(item)
            }
          })
        } else {
          this.adminSuggestionListProvider.suggestionsList.filter(item => {
            if(item.name.toLowerCase().match(this.searchSuggestions.toLowerCase())) {
              arrayItems.push(item)
            } else if(item['proposer'].lastname.toLowerCase().match(this.searchSuggestions.toLowerCase())) {
              arrayItems.push(item)
            } else if(item['proposer'].firstname.toLowerCase().match(this.searchSuggestions.toLowerCase())) {
              arrayItems.push(item)
            }
          })
        }
        return arrayItems
      } else {
        return this.adminSuggestionListProvider.suggestionsList
      }
    }
  }
}
</script>
