<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous avons le regret de vous annoncer que votre compte a été banni pour la raison suivante :<br/>
    <strong>{{ reason }}</strong>

    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
