<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Bonjour, vous avez été débannis
    {% if reason is defined %}
        pour la raison suivante :<br/>
        <strong>{{ reason }}</strong>
    {% endif %}
    <br/>
    Vous pouvez de nouveau vous connecter à votre compte !
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
