<b>Bonjour {{ firstname }} {{ lastname }} !</b>
<p>
    Nous avons le regret de vous informer que vous avez été banni du restaurant <strong>'{{ restaurantName }}'</strong> pour la raison suivante :<br/>
    <strong>{{ reason }}</strong>
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
