<b>Bonjour {{ firstname }} {{ lastname }} !</b>
<p>
    Nous sommes heureux de vous confirmer votre réservation pour un {{ serviceName }} chez {{ restaurantName }} le {{ date }} pour {{ nbPersonnes }}.
    
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
