<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Votre compte a été créé avec succès, vous pouvez le valider en cliquant ici :
    <a href="http://{{ host }}/#/validate/{{ registerToken }}">http://{{ host }}/#/validate/{{ registerToken }}</a>
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
