<b>Bonjour, {{ firstname }} {{ lastname }}</b>
<p>
    Voici le nouveau mot de passe de votre compte : {{ newPassword }}
    <br/>
    Nous vous invitons à le redéfinir une fois connecté
    <br/>
    <br/>
    Cordialement,
    BookMyTable
</p>
