<b>Bonjour {{ ownerFirstname }} {{ ownerLastname }} !</b>
<p>
    Nous avons le regret de vous annoncer que {{ restorerFirstname }} {{ restorerLastname }}
    a quitté votre restaurant <strong>{{ restaurantName }}</strong> Pour la raison suivante :
    <br/>
    <strong>{{ reason }}</strong>

    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
