<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous avons le regret de vous informer que vous n'avez pas été accepté au sein du restaurant <strong>'{{ restaurantName }}'</strong>.
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
