<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous vous informons que {{ applicantFirstname }} {{ applicantLastname }} ({{ applicantEmail }}) souhaite rejoindre votre restaurant <strong>'{{ restaurantName }}'</strong> pour la raison suivante :
</p>
<strong>{{ reason }}</strong>
<br>
<br>
Cordialement,
BookMyTable
