<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous vous informons que vous avez été acceptés avec succès au sein du restaurant <strong>'{{ restaurantName }}'</strong> !
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
