<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Votre demande pour rejoindre le restaurant <strong>'{{ restaurantName }}'</strong> a bien été envoyée
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
