<b>Bonjour {{ firstname }} {{ lastname }} !</b>
<p>
    Vous aviez réservé pour un {{ serviceName }} chez {{ restaurantName }} le {{ date }} pour {{ nbPersonnes }}.
    Nous avons le regret de vous annoncer que votre réservation a été supprimée par le restaurant pour la raison suivante :<br/>
    <strong>{{ reason }}</strong>

    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
