<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Votre restaurant '<strong>{{ name }}</strong>' a été créé avec succès, et est en attente de validation par un administrateur.
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
