<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous avons le regret de vous informer que votre restaurant '<strong>{{ name }}</strong>' a été supprimé pour le motif suivant :<br/>
    <strong>{{ reason }}</strong>
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
