<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    Nous vous informons que votre suggestion pour le type de restaurant '<strong>{{ suggestedType }}</strong>' a bien été enregistré
    et est en attente de confirmation.
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
