<b>Bonjour, {{ firstname }} {{ lastname }} !</b>
<p>
    
    Nous sommes au regret de vous informer que votre restaurant n'a pas été validé, et a donc été supprimé
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
