<b>Bonjour {{ firstname }} {{ lastname }},</b>
<p>
    Nous vous informons que votre suggestion pour le type de restaurant '<strong>{{ suggestedType }}</strong>' a été refusée.
    <br>
    <br>
    Cordialement,
    BookMyTable
</p>
