<template>
  <div class="absolute bg-gray-100 px-2 pt-2 pb-8 right-0 top-10 w-96 max-h-screen rounded-lg overflow-y-scroll z-40">
    <div class="relative">
      <h2>Vos notifications :</h2>
      <img
        :src="refresh"
        v-show="!notificationProvider.loading"
        @click="notificationProvider.getNotifications()"
        class="w-5 h-5 hover:bg-gray-300 rounded-lg cursor-pointer absolute right-1 top-0"
      />
    </div>
    <div v-show="!notificationProvider.loading && notificationProvider.notifications.length > 0">
      <div
          v-for="notification in notificationProvider.notifications"
          :key="notification.id"
          class="bg-gray-300 mb-4 rounded-lg relative flex flex-row justify-between align-middle"
      >
        <div class="w-80 text-sm">{{notification.content}}</div>
        <div class="flex flex-col mr-2">
          <font-awesome-icon
              icon="trash"
              title="Supprimer la notification"
              class="px-1 py-1 w-6 h-6 hover:bg-gray-400 rounded-lg cursor-pointer"
              @click="notificationProvider.deleteNotification(notification._id)"
          />
          <font-awesome-icon
              v-if="notification.restaurantId !== undefined"
              @click="notificationProvider.showRestaurantInModal(notification.restaurantId)"
              title="Voir le restaurant"
              icon="external-link-alt"
              class="px-1 py-1 w-6 h-6 hover:bg-gray-400 rounded-lg cursor-pointer"
          />
        </div>
      </div>
    </div>
    <div v-show="!notificationProvider.loading && notificationProvider.notifications.length === 0" class="mt-4 bg-gray-300 rounded-lg">
      Aucune notification
    </div>
    <div v-show="notificationProvider.loading" class="mt-4">
      Chargement en cours...
    </div>
    <RestaurantProvider
        v-if="notificationProvider.restaurantToShowInModal !== null"
        :restaurant="notificationProvider.restaurantToShowInModal"
        :close-modal="notificationProvider.hideRestaurantModal"
    >
      <RestaurantModal />
    </RestaurantProvider>
  </div>
</template>

<script>
import RestaurantProvider from "@/providers/RestaurantProvider";
import RestaurantModal from "@/views/Restaurants/RestaurantModal/RestaurantModal";
import refresh from "@/assets/refresh.png";

export default {
  name: "NotificationsList",
  inject: ['notificationProvider'],
  components: {RestaurantProvider, RestaurantModal},
  data: () => ({refresh})
}
</script>

<style scoped>

</style>
