<template>
  <div class="relative">
    <font-awesome-icon
        icon="bell"
        class="ml-8 w-8 h-8 hover:bg-gray-300 rounded-lg cursor-pointer"
        @click="notificationProvider.showHideNotifications()"
    />
    <span v-show="notificationProvider.nbNotRead > 0" class="absolute bottom-6 right-8 text-sm font-bold select-none">{{notificationProvider.nbNotRead}}</span>
    <NotificationsList v-show="notificationProvider.showNotifications"/>
  </div>
</template>

<script>
import NotificationsList from "@/views/Notifications/NotificationsList";
export default {
  name: "Notifications",
  components: {NotificationsList},
  inject: ['notificationProvider']
}
</script>

<style scoped>

</style>