<template>
  <button type="button" @click="$emit('click')" :class="classes">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    type: {
      type: String,
      default: "secondary"
    },
    moreClasses: {
      type: String,
      default: ''
    }
  },
  computed: {
    classes() {
      const defaultClasses = "py-2 px-4 rounded text-base font-bold"

      return ({
        "secondary-light": "bg-gray-200 hover:bg-gray-300",
        secondary: 'bg-gray-400 hover:bg-gray-600 text-white',
        primary: 'bg-blue-400 hover:bg-blue-600 text-white',
        danger: 'bg-red-500 hover:bg-red-700 text-white',
        success: 'bg-green-500 hover:bg-green-700 text-white'
      }[this.type] ?? "")+" "+defaultClasses+" "+this.moreClasses;
    }
  }
}
</script>

<style scoped>

</style>