<template>
  <div class="border-none">
    <component
        :is="component"
        :name="name"
        :value="$attrs.value !== undefined ? $attrs.value : values[name]"
        :checked="values[name]"
        @input="$emit('input', $event); values[name] = ($attrs.type === 'checkbox' ? $event.target.checked : $event.target.value)"
        v-bind="$attrs"
        v-on="$listeners"
        :class="propClass"
    >
      <slot>{{component === 'textarea' ? values[name] : ''}}</slot>
    </component>
    <ul class="errors">
      <li v-for="(error,index) in violations[name]" :key="index" class="text-red-600">
        {{error}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Field",
  inject: ['values','violations'],
  props: {
    component: String,
    name: {
      type: String,
      default: null
    },
    propClass: {
      type: String,
      default() {
        return ['button','submit'].includes(this.$attrs.type) ? 'font-bold border hover:bg-gray-200 full cursor-pointer rounded-lg px-8' : ''
      }
    }
  }
}
</script>

<style scoped>

</style>