<template>
  <form @submit.prevent="handleSubmit">
    <h2 v-if="title !== null">{{ title }}</h2>
    <slot :values="values" :handleSubmit="handleSubmit"></slot>
  </form>
</template>

<script>
export default {
  name: "Vuemik",
  data: function() {
    return {
      values: {...this.initialValues}
    };
  },
  props: {
    initialValues: {
      default: {},
    },
    title: {
      type: String,
      default: null
    },
    onSubmit: {
      type: Function
    },
    violations: {
      default: () => ({})
    }
  },
  provide() {
    const provider = {values: {}, violations: {}};
    for (const key in this.values) {
      Object.defineProperty(provider.values, key, {
        enumerable: true,
        get: () => this.values[key],
        set: (value) => this.values[key] = value
      })
    }
    for (const key in this.violations) {
      Object.defineProperty(provider.violations, key, {
        enumerable: true,
        get: () => this.violations[key]
      })
    }
    return provider
  },
  methods: {
    handleSubmit() {
      this.onSubmit(this.values);
    }
  }
}
</script>

<style scoped>

</style>
