<template>
  <div>
    <Modal :on-close="restaurantListProvider.showHideTypeModal">
      <template v-slot:header>
        Choisissez un ou plusieurs types :
      </template>
      <template v-slot:body>
        <div>
          <div
              @click="restaurantListProvider.addRemoveRestaurantType(ARestaurant.id)"
              :key="ARestaurant.id"
              v-for="ARestaurant in restaurantListProvider.restaurantTypes"
              :class="(restaurantListProvider.filterValues.restaurantTypes.includes(ARestaurant.id) ? 'bg-green-500 hover:bg-green-700 text-white ' : 'bg-gray-200 hover:bg-gray-400')+' cursor-pointer font-bold py-2 px-4 rounded-full inline-block'"
          >
            {{ ARestaurant.name }}
          </div>
          <div v-if="user.isGranted('ROLE_RESTORER')" class="bg-gray-100 hover:bg-gray-200 rounded-full">
            <a href="#" @click="restaurantListProvider.showHideProposeNewTypeModal">Suggérer un nouveau type de restaurant</a>
          </div>
        </div>
      </template>
      <template v-slot:back-button>
        Retourner aux restaurants
      </template>
    </Modal>
  </div>
</template>

<script>

export default {
  inject: ['restaurantListProvider','user'],
  name: "ChooseType"
}
</script>
