<template>
  <Modal
    :on-close="onClose"
  >
    <template v-slot:header>Créer un nouveau restaurant</template>
    <template v-slot:body>
      <RestaurantForm
          :on-submit="restaurantListProvider.createRestaurant"
          title="Créer un nouveau restaurant"
          :violations="restaurantListProvider.violations"
          label-submit="Créer"
      />
    </template>
    <template v-slot:back-button>
      Retour
    </template>
  </Modal>
</template>

<script>
import RestaurantForm from "@/components/RestaurantForm";

export default {
  components: {RestaurantForm},
  inject: ['restaurantListProvider'],
  name: "NewRestaurant",
  props: {
    onClose: Function
  }
}
</script>
