<template>
  <Modal :on-close="onClose">
    <template v-slot:header>
      Suggérez un nouveau type :
    </template>
    <template v-slot:body>
      <Vuemik
          :initial-values="{
             name: '',
           }"
          :on-submit="proposeNewType"
      >
        <Field component="input" type="text" name="name" required="required"></Field>
        <Field component="input" type="submit" value="Valider"></Field>
      </Vuemik>
    </template>
    <template v-slot:back-button>
      Retour
    </template>
  </Modal>
</template>

<script>
import {proposeNewType as proposeNewTypeAction} from "@/actions/TypeActions";
import {reactFromAPIPost} from "@/libs/reactFromAPI";

export default {
  inject: ['restaurantListProvider', 'createAlert'],
  name: "ProposeNewType",
  props: {
    onClose: Function
  },
  methods: {
    async proposeNewType({name}) {
      const res = await proposeNewTypeAction(name);
      if (await reactFromAPIPost(
          res,
          {},
          this.createAlert,
          "Nouveau type de restaurant suggéré!"
      )) {
        setTimeout(() => {
          this.onClose();
        }, 1000)
      }
    },
  }
}
</script>
