<template>
  <RestaurantListProvider>
    <h1 class="text-2xl underline">Les restaurants</h1>
    <RestaurantsList/>
  </RestaurantListProvider>
</template>

<script>
import RestaurantsList from "@/views/Restaurants/RestaurantsList";
import RestaurantListProvider from "@/providers/RestaurantListProvider";
export default {
  name: "Restaurants",
  components: {RestaurantListProvider, RestaurantsList},
}
</script>
