<template>
  <div class="flex flex-column justify-center">
    <div
        v-for="i in 5"
        :key="i"
        class="w-5 h-5 relative"
    >
      <font-awesome-icon
          class="w-5 h-5 z-10 absolute left-0"
          icon="star"
          :color="note >= i-1/2 ? '#d8df00' : '#e1e1e1'"
          :style="note === i-1/2 ? 'clip: rect(0px, 0.625rem, 1.25rem, 0px);' : ''"
      />
      <font-awesome-icon
          v-show="note === i-1/2"
          class="w-5 h-5 z-10 absolute left-0"
          icon="star"
          color="#e1e1e1"
          style="clip: rect(0px, 1.25rem, 1.25rem, 0.625rem);"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "RestaurantShowNote",
  props: {
    note: {
      type: Number,
      default: null
    }
  }
}
</script>

<style scoped>
</style>
