<template>
  <div>
    <div class="grid justify-items-center space-y-4">
      <div class="inline-block mx-5 content-center">
        <label>
          Nom :
        </label>
        <input type="text" v-model="restaurantListProvider.filterValues.name"/>
      </div>
      <div class="inline-block mx-5 content-center">
        <label>
          Ville :
        </label>
        <input type="text" v-model="restaurantListProvider.filterValues.city"/>
      </div> 
      <div class="inline-block mx-5 content-center">
        <label>
          Code postal :
        </label>
        <input type="text" v-model="restaurantListProvider.filterValues.zipcode"/>
      </div>
      <div class="inline-block mx-5 content-center">
        <label>
          Adresse :
        </label>
        <input type="text" v-model="restaurantListProvider.filterValues.address"/>
      </div>
      <div class="inline-block mx-5 content-center">
        <label>
          Numéro de téléphone :
        </label>
        <input type="text" v-model="restaurantListProvider.filterValues.phonenumber"/>
      </div>
      <div class="inline-block mx-5 content-center">
        <label>
          Nombre de places :
        </label>
        <input type="number" v-model="restaurantListProvider.filterValues.nbPlace"/>
      </div>
      <div class="inline-bloc mt-8 content-center">
        <label>
          Quel(s) type(s) ?
          <div v-if="restaurantListProvider.filterValues.restaurantTypes.length > 0" @click="restaurantListProvider.showHideTypeModal"
               class="cursor-pointer hover:bg-gray-100">
            <span
                v-for="name in restaurantListProvider.filterValues.restaurantTypes.map(id => restaurantListProvider.restaurantTypeNameById[id]).sort((a,b) => a>b ? 1 : -1)"
                :key="name"
                class="cursor-pointer bg-green-500 text-white cursor-default font-bold py-2 px-4 rounded-full inline-block"
            >
            {{ name }}
          </span>
          </div>
          <div v-else @click="restaurantListProvider.showHideTypeModal" class="transition delay-100 ease-in-out cursor-pointer bg-gray-200 hover:bg-gray-400">
            <span>Tous</span>
          </div>
        </label>
      </div>
      <div v-if="restaurantListProvider.filterIsAccessible('member')" class="mt-3">
        <label>
          Ceux dont vous êtes membre :
        </label>
        <input type="checkbox" v-model="restaurantListProvider.filterValues.member"/>
      </div>
      <div v-if="restaurantListProvider.filterIsAccessible('owner')" class="mt-3">
        <label>
          Ceux dont vous êtes propriétaire :
        </label>
        <input type="checkbox" v-model="restaurantListProvider.filterValues.owner"/>
      </div>
      <div v-if="restaurantListProvider.filterIsAccessible('validated')" class="mt-3">
        <label>
          Les validés ? :
        </label>
        <select v-model="restaurantListProvider.filterValues.validated">
          <option value="all">Tous</option>
          <option value="yes">Oui</option>
          <option value="no">Non</option>
        </select>
      </div>

      <Button
          more-classes="my-4"
          type="secondary-light"
          v-if="user.isGranted('ROLE_RESTORER')"
          @click="restaurantListProvider.showHideNewRestaurantModal()"
      >Créer un restaurant</Button>
      <br/>
      <Button
          @click="restaurantListProvider.getRestaurants()"
          type="primary"
          more-classes="bg-blue-500 hover:bg-blue-700  border border-blue-700 w-1/3"
      >
        Rechercher
      </Button>
    </div>


    <div class="mt-8">
      <div v-show="restaurantListProvider.restaurants.length > 0" class="flex flex-col justify-center items-center mb-8">
        <RestaurantShow v-for="restaurant in restaurantListProvider.restaurants" :key="restaurant.id" :restaurant="restaurant"
                        class="w-1/2"/>
        <div v-show="
              !restaurantListProvider.searching &&
              restaurantListProvider.restaurants.length < restaurantListProvider.totalRestaurants">
          <Button
            type="secondary-light"
            more-classes="mt-8"
            @click="restaurantListProvider.displayMore()"
          >
            Afficher plus
          </Button>
        </div>
      </div>
      <div v-show="restaurantListProvider.searching">Recherche en cours</div>
      <div v-show="restaurantListProvider.searched && restaurantListProvider.restaurants.length === 0">Aucun restaurant trouvé</div>
      <div v-show="restaurantListProvider.restaurants.length === 0 && !restaurantListProvider.searching && !restaurantListProvider.searched">Veuillez lancer une recherche</div>
    </div>
    <RestaurantProvider
        v-if="restaurantListProvider.restaurantDetailsToShowModal !== null"
        :restaurant="restaurantListProvider.restaurantDetailsToShowModal"
        :restaurant-types-prop="restaurantListProvider.restaurantTypes"
        :restaurants="restaurantListProvider.restaurants"
        :close-modal="restaurantListProvider.hideRestaurantModal"
    >
      <RestaurantModal />
    </RestaurantProvider>
    <ChooseType v-show="restaurantListProvider.showTypeModal"/>
    <ProposeNewType v-if="restaurantListProvider.showProposeNewTypeModal" :on-close="restaurantListProvider.showHideProposeNewTypeModal"/>
    <NewRestaurant
        v-if="restaurantListProvider.showNewRestaurantModal"
        :on-close="restaurantListProvider.showHideNewRestaurantModal"
    />
  </div>
</template>


<script>
import RestaurantShow from "@/views/Restaurants/RestaurantShow";
import ChooseType from "./ChooseType";
import ProposeNewType from "./ProposeNewType";
import RestaurantModal from "@/views/Restaurants/RestaurantModal/RestaurantModal";
import RestaurantProvider from "@/providers/RestaurantProvider";
import NewRestaurant from "./NewRestaurant";

export default {
  components: {RestaurantProvider, RestaurantModal, ProposeNewType, ChooseType, RestaurantShow, NewRestaurant},
  inject: ["restaurantListProvider", "user"],
  name: "RestaurantsList"
}
</script>
