<template>
  <div class="flex flex-column justify-center" @click="() => onSelect(this.note)">
    <div
        v-for="i in 5"
        :key="i"
        class="h-10 w-10 relative"
    >
      <font-awesome-icon
          class="w-10 h-10 z-10 absolute left-0"
          icon="star"
          :color="note >= i-1/2 ? '#d8df00' : '#e1e1e1'"
          :style="note === i-1/2 ? 'clip: rect(0px, 1.25rem, 2.5rem, 0px);' : ''"
      />
      <font-awesome-icon
          v-show="note === i-1/2"
          class="w-10 h-10 z-10 absolute left-0"
          icon="star"
          color="#e1e1e1"
          style="clip: rect(0px, 2.5rem, 2.5rem, 1.25rem);"
      />
      <div
          v-for="j in 2"
          :key="j"
          :class="'select_half cursor-pointer '+(j === 1 ? 'left-0' : 'right-0')"
          @mouseover="setNoteFromIndexes(i,j)"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RestaurantDefineNote",
  data: () => ({note: 1}),
  methods: {
    setNoteFromIndexes(i,j) {
      let note = (i-1) + j*0.5;
      if (note < 1) {
        note = 1;
      }
      this.note = note;
    }
  },
  props: {
    onSelect: Function,
    initialNote: Number
  },
  beforeMount() {
    this.note = this.initialNote??1;
  }
}
</script>

<style scoped>
.select_half {
  bottom: 0;
  position: absolute;
  opacity: 0.2;
  background: #fff;
  width: 50%;
  height: 100%;
  z-index: 12;
}
</style>
