<template>
  <Card  @click="restaurantListProvider.showRestaurantModal(restaurant)" class="w-1/2" :title="restaurant.name" more-css-classes="cursor-pointer hover:bg-gray-100">
    <div>
      <div
          v-for="restaurantType in restaurant.restaurantTypes"
          :key="restaurantType.id"
          class="bg-gray-200 cursor-default font-bold py-2 px-4 rounded-full inline-block"
      >
        {{restaurantType.name}}
      </div>
    </div>
    <RestaurantShowNote
      :note="restaurant.averageNote"
    />
    <p class="text-gray-700 text-base">
      à {{restaurant.city}} ({{restaurant.zipcode}})
    </p>
    <p v-if="!restaurant.validated">(Non validé)</p>
    <div class="mt-5" v-if="user.session && restaurant.owner.id === user.session.id">Vous êtes propriétaire de ce restaurant</div>
    <div class="mt-5" v-else-if="restaurant.isMember">Vous êtes membre de ce restaurant</div>
  </Card>
</template>

<script>
import RestaurantShowNote from "./RestaurantShowNote";
export default {
  components: {RestaurantShowNote},
  inject: ['user','restaurantListProvider'],
  name: "RestaurantShow",
  props: {
    restaurant: {
      type: Object
    }
  }
}
</script>
