<template>
    <div>
        <h1 class="text-2xl underline">Configurer mon compte</h1>
        <div class="mt-8">
          <h1 class="text-lg">Vos informations</h1>
          <div>
            <span>Email : </span>
            <span>{{user.session.email}}</span>
          </div>
          <div>
            <span>Roles : {{user.showRoles()}}</span>
          </div>
        </div>
        <div class="mt-8">
          <Vuemik
            :initial-values="{
              firstname: user.session.firstname,
              lastname: user.session.lastname
            }"
            :on-submit="user.updateNames"
            :violations="user.violations"
            v-slot="{handleSubmit}"
          >
            <label>
              Prénom :
              <Field component="input" type="text" placeholder="Prénom" name="firstname"/>
            </label>
            <label>
              Nom :
              <Field component="input" type="text" placeholder="Nom" name="lastname"/>
            </label>
            <Button
                @click="handleSubmit"
                type="primary"
                more-classes="mt-4"
            >
              Valider
            </Button>
          </Vuemik>
          <hr class="mt-14"/>
          <Vuemik
            :initial-values="{
              plainPassword: '',
              confirmPassword: ''
            }"
            :violations="user.violations"
            v-slot="{handleSubmit}"
            :on-submit="user.updatePassword"
          >
            <label>
              Rentrez votre mot de passe :
              <Field component="input" type="password" name="plainPassword"/>
            </label>
            <label>
              Confirmez le :
              <Field component="input" type="password" name="confirmPassword"/>
            </label>
            <Button
              @click="handleSubmit"
              type="primary"
              more-classes="mt-4"
            >
              Changer
            </Button>
          </Vuemik>
        </div>
    </div>
</template>

<script>
  export default {
    name: "Account",
    inject: ['user', 'createAlert'],
    beforeMount() {
      this.user.clearViolations();
    }
  }
</script>
