<template>
  <div>
    <h1 class="text-2xl">Rentrez une adresse mail</h1>
    <input type="text" placeholder="Adresse mail" v-model="email">
    <br/>
    <Button
      type="primary"
      more-classes="mt-4"
      @click="resetPassword()"
    >
      Réinitialiser
    </Button>
  </div>
</template>

<script>
export default {
  name: "ForgottenPassword",
  inject: ['user'],
  data: () => ({
    email: ''
  }),
  methods: {
    resetPassword() {
      this.user.resetPassword(this.email).then((success) => {
        if (success)
          this.email = "";
      })
    }
  }
}
</script>

<style scoped>

</style>