<template>
  <div class="home">
    <h1 class="text-2xl underline">Bienvenue sur Book My Table !</h1>
    <br>
    <h2>{{user.session !== null ? "Bienvenue "+user.session.firstname+ " "+ user.session.lastname : "Vous n'êtes pas connecté"}}</h2>
    <br>
    <div v-if="user.isGranted('ROLE_RESTORER')">
      <h2>Vous êtes restaurateur, ici vous pouvez accéder à vos outils de gestion.</h2>
      <br>
      <router-link to="/restaurants" class="my-2 block">
        <Button type="secondary-light">Trouver un restaurant</Button>
      </router-link>
      <router-link to="/restaurants?member=true" class="my-2 block">
        <Button type="secondary-light">Gérer mes restaurants</Button>
      </router-link>
      <router-link to="/reservations" class="my-2 block">
        <Button type="secondary-light">Gérer mes réservations</Button>
      </router-link>
    </div>
    <div v-else-if="user.isGranted('ROLE_ADMIN')">
      <h2>Vous êtes admin, ici vous pouvez accéder à vos outils de gestion.</h2>
      <br>
      <router-link to="/restaurants" class="my-2 block">
        <Button type="secondary-light">Gestion des restaurants</Button>
      </router-link>
      <router-link to="/usermanagement" class="my-2 block">
        <Button type="secondary-light">Gestion des utilisateurs</Button>
      </router-link>
      <router-link to="/suggestions" class="my-2 block">
        <Button type="secondary-light">Voir les suggestions</Button>
      </router-link>
    </div>
    <div v-else-if="user.session !== null">
      <h2>Vous êtes prêt à réserver votre prochain restaurant !</h2>
      <br>
      <router-link to="/restaurants" class="my-2 block">
        <Button type="secondary-light">Trouver un restaurant</Button>
      </router-link>
      <router-link to="/reservations" class="my-2 block">
        <Button type="secondary-light">Voir mes réservations</Button>
      </router-link>
    </div>
    <div v-else>
      <h2>Première visite ? Inscrivez-vous pour pouvoir réserver !</h2>
      <br>
      <h2>Vous êtes restaurateur et vous souhaitez nous rejoindre ? C'est possible aussi !</h2>
      <router-link to='/register' class="my-2 block">
        <Button type="secondary-light">S'inscrire</Button>
      </router-link>

      <br>
      <br>
      <p>Déjà membre ?</p>
      <router-link to='/login' class="my-2 block">
        <Button type="secondary-light">Se connecter</Button>
      </router-link>
      <br/>
      <router-link to="/restaurants" class="my-2 block">
        <Button type="secondary-light">Trouver un restaurant</Button>
      </router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Home',
  inject: ["user"]
}
</script>
