<template>
  <div
    class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
  >

    <div
      class="max-w-lg w-full space-y-8 bg-white p-4 md:px-8 md:py-16 shadow-xl"
    >
      <div>
        <Vuemik
          :initial-values="{
             email: '',
             password: '',
           }"
          :on-submit="user.login"
          title="Connexion"
        >
          
          <Field component="input" type="email" name="email" placeholder="Votre adresse mail"/>
          <Field component="input" type="password" name="password" placeholder="Votre mot de passe"/>
          <Field component="input" type="submit" value="Se connecter"></Field>
        </Vuemik>
        <Button
            type="secondary-light"
            more-classes="mt-8"
        >
          <router-link to="/forgotten_password">Mot de passe oublié</router-link>
        </Button>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Login",
  inject: ['user']
}
</script>

<style scoped></style>
