<template>
  <div
    class="min-h-full flex items-center justify-center py-6 px-4 sm:px-6 lg:px-8"
  >
    <div
      class="max-w-lg w-full space-y-2 bg-white p-4 md:px-8 md:py-10 shadow-xl z-index-10"
    >
      <div>
        <Vuemik
          :initial-values="{
            lastname: '',
            firstname: '',
            email: '',
            plainPassword: '',
            confirmPassword: '',
            isRestorer: false
          }"
          title="Inscription"
          :violations="user.violations"
          :on-submit="user.register"
        >
          <Field component="input" type="text" name="firstname" placeholder="Prénom" required/>
          <Field component="input" type="text" name="lastname" placeholder="Nom de famille" required/>
          <Field component="input" type="email" name="email" placeholder="Adresse mail" required/>
          <Field component="input" type="password" name="plainPassword" placeholder="Mot de passe" required/>
          <Field component="input" type="password" name="confirmPassword" placeholder="Confirmez le mot de passe" required/>
          <label>
            Voulez vous être restaurateur ? :
            <Field component="input" name="isRestorer" type="checkbox"></Field>
          </label>
          <Field component="input" type="submit" value="Valider l'inscription"></Field>
        </Vuemik>
        <span class="mt-8">Votre mot de passe doit comporter au minimun 10 caractères (dont au moins une majuscule, une miniscule, un chiffre et un caractère spécial)</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Register",
  inject: ["user"],
  beforeMount() {
    this.user.clearViolations();
  }
}
</script>

<style scoped></style>
