<template>
  <div>
    <h1>Inscription réussie !</h1>
    <p>Félicitations, vous pouvez maintenant vous rendre sur votre boite mail afin de valider votre compte!</p>
  </div>
</template>

<script>
export default {
  name: "Registered"
}
</script>

<style scoped>

</style>