<template>
  <div>
    <h1 v-if="validated === null">Validation de votre compte...</h1>
    <h1 v-else-if="validated">Compte validé avec succès</h1>
    <h1 v-else>Echec de la validation du compte...</h1>
  </div>
</template>

<script>
export default {
  data: () => ({
    validated: null
  }),
  inject: ['user'],
  name: "Validate",
  async beforeMount() {
    this.validated = await this.user.validate(this.$route.params.token);
  }
}
</script>

<style scoped>

</style>