<template>
    <Modal
        :on-close="reservationProvider.onClose"
    >
        <template v-slot:header>
            Réserver chez '{{reservationProvider.restaurant.name}}' au service de {{reservationProvider.schedule.name}}
            </template>
        <template v-slot:body>
            <ReservationForm/>
        </template>
        <template v-slot:back-button>
            Retour
        </template>
    </Modal>
</template>

<script>
import ReservationForm from "@/components/ReservationForm";

export default {
    name: "ReservationModal",
    inject: ['reservationProvider'],
    components: {ReservationForm},
}
</script>
