<template>
  <div>
    <div v-if="user.isGranted('ROLE_RESTORER')">
      <label>
        Choisissez un restaurant :
        <select @change="reservationListProvider.selectRestaurant($event.target.value)">
          <option value="0">
             Choisir
          </option>
          <option
              v-for="(restaurant,id) in reservationListProvider.memberedRestaurantsById"
              :key="id"
              :value="id"
              :selected="reservationListProvider.selectedRestaurant && parseInt(id) === reservationListProvider.selectedRestaurant.id"
          >
            {{restaurant.name}}
          </option>
        </select>
      </label>
      <br/>
      <label v-if="reservationListProvider.selectedRestaurant !== null && reservationListProvider.schedulesListByRestaurantId[reservationListProvider.selectedRestaurant.id] !== null">
        Choisissez un service :
        <select @change="reservationListProvider.selectSchedule($event.target.value)">
          <option value="0">Tous</option>
          <option
              v-for="(schedule, id) in reservationListProvider.schedulesListByRestaurantId[reservationListProvider.selectedRestaurant.id]"
              :key="id"
              :value="id"
          >
            {{schedule.name}}
          </option>
        </select>
      </label>
      <div v-show="reservationListProvider.selectedRestaurant === null && reservationListProvider.selectedSchedule === null">
        Vos réservations
      </div>
      <div v-if="reservationListProvider.selectedRestaurant !== null"> <!-- Use v-if instead of v-show, because can't get undefined variable -->
        Les réservations du restaurant '{{reservationListProvider.selectedRestaurant.name}}'
        {{reservationListProvider.selectedSchedule !== null ? "service '"+reservationListProvider.selectedSchedule.name+"'" : ""}}
      </div>
    </div>
    <div class="mt-8 flex flex-row justify-center">
      <table>
        <tr>
          <th>
            Date
          </th>
          <th>
            Restaurant
          </th>
          <th>
            Service
          </th>
          <th>
            Commentaire
          </th>
          <th v-show="reservationListProvider.showCustomer">
            Client
          </th>
          <th>
            Actions
          </th>
        </tr>
        <tr v-show="reservationListProvider.searching">
          <td :colspan="user.isGranted('ROLE_RESTORER') ? 6 : 5">Recherche en cours</td>
        </tr>
        <tr v-show="!reservationListProvider.searching && reservationListProvider.searched && reservationListProvider.reservations.length === 0">
          <td :colspan="user.isGranted('ROLE_RESTORER') ? 6 : 5">Aucune réservation trouvée</td>
        </tr>
        <tr v-show="!reservationListProvider.searching && !reservationListProvider.searched && reservationListProvider.reservations.length === 0">
          <td :colspan="user.isGranted('ROLE_RESTORER') ? 6 : 5">Veuillez lancer une recherche</td>
        </tr>
        <tr v-for="reservation in reservationListProvider.reservations" :key="reservation.id">
          <td>
            {{formatISODateFrenchFormat(reservation.date)}}
          </td>
          <td>
            <a class="hover:underline cursor-pointer" @click="reservationListProvider.showRestaurantInModal(reservation.restaurant.id)">{{reservation.restaurant.name}}</a>
          </td>
          <td>
            {{reservation.schedule.name}} ({{formatISOTimeForList(reservation.schedule.start)}} - {{formatISOTimeForList(reservation.schedule.ending)}})
          </td>
          <td>
            {{reservation.comment ? reservation.comment : "Aucun"}}
          </td>
          <td v-if="reservationListProvider.showCustomer">
            {{reservation.customer
              ? reservation.customer.firstname+' '+reservation.customer.lastname+' ('+reservation.customer.email+')' :
              (reservation.emailToConfirm ?
                reservation.emailToConfirm : 'Non dédini')}}
          </td>
          <td>
            <Button
                @click="reservationListProvider.deleteReservationClick(reservation, reservation.schedule ? reservation.schedule : reservationListProvider.selectedSchedule)"
                type="danger"
            >
              Annuler
            </Button>
            <Button
                @click="reservationListProvider.setReservationToEdit(reservation)"
                type="primary"
                more-classes="ml-4"
            >
              Editer
            </Button>
          </td>
        </tr>
      </table>
      <div class="w-5 h-5 mt-2"
           v-if="user.isGranted('ROLE_USER') && !user.isGranted('ROLE_RESTORER')"
           v-show="!reservationListProvider.searching">
        <img
            :src="refresh"
            @click="reservationListProvider.getReservations()"
            class="w-5 h-5 hover:bg-gray-300 rounded-lg cursor-pointer"
        />
      </div>
    </div>
    <Button
        v-if="user.isGranted('ROLE_RESTORER')"
        @click="reservationListProvider.getReservations()"
        type="primary"
        more-classes="bg-blue-500 hover:bg-blue-700  border border-blue-700 w-1/3 mt-8"
    >
      Rechercher
    </Button>
    <br/>
    <br/>
    <br/>
    <router-link to="/restaurants">
      <Button
          type="secondary-light"
      >
        Trouver un restaurant pour réserver
      </Button>
    </router-link>
    <GiveReasonModal
      v-if="reservationListProvider.reservationIdToCancelWithReason !== null"
      :on-close="reservationListProvider.hideReservationIdToCancelWithReason"
      :on-submit="(reason) => reservationListProvider.deleteReservation(reservationListProvider.reservationIdToCancelWithReason, reason)"
    />
    <ReservationProvider
        v-if="reservationListProvider.reservationToEdit !== null"
        :on-close="reservationListProvider.hideReservationToEdit"
        :restaurant="reservationListProvider.reservationToEdit.restaurant ? reservationListProvider.reservationToEdit.restaurant : reservationListProvider.selectedRestaurant"
        :schedule="reservationListProvider.reservationToEdit.schedule ? reservationListProvider.reservationToEdit.schedule : reservationListProvider.selectedSchedule"
        :reservation="reservationListProvider.reservationToEdit"
        :customer="reservationListProvider.reservationToEdit.customer ? reservationListProvider.reservationToEdit.customer : user.session"
        :schedules="
                (reservationListProvider.schedulesListByRestaurantId[reservationListProvider.reservationToEdit.restaurant.id]) ?
                Object.values(reservationListProvider.schedulesListByRestaurantId[reservationListProvider.reservationToEdit.restaurant.id]) : null"
    >
      <ReservationModal/>
    </ReservationProvider>
    <RestaurantProvider
        v-if="reservationListProvider.restaurantToShowInModal !== null"
        :restaurant="reservationListProvider.restaurantToShowInModal"
        :close-modal="reservationListProvider.hideRestaurantToShowInModal"
    >
      <RestaurantModal />
    </RestaurantProvider>
  </div>
</template>

<script>
import {formatISOTimeForList, formatISODateFrenchFormat} from "@/libs/timeFormatter";
import GiveReasonModal from "@/components/GiveReasonModal";
import refresh from "@/assets/refresh.png";
import ReservationProvider from "@/providers/ReservationProvider";
import ReservationModal from "@/views/Reservations/ReservationModal";
import RestaurantProvider from "@/providers/RestaurantProvider";
import RestaurantModal from "@/views/Restaurants/RestaurantModal/RestaurantModal";

export default {
  name: "ReservationList",
  inject: ['reservationListProvider', 'user'],
  components: {ReservationModal, ReservationProvider, GiveReasonModal, RestaurantProvider, RestaurantModal},
  data: () => ({refresh}),
  methods: {
    formatISOTimeForList,
    formatISODateFrenchFormat
  }
}
</script>

<style scoped>
  table {
    border-spacing: 5px;
    border-collapse: separate;
  }
</style>
