<template>
  <div>
    <h1 class="underline text-2xl">{{user.isGranted('ROLE_RESTORER') ? "Gestion des" : "Mes"}} réservations</h1>
    <ReservationListProvider>
      <ReservationList/>
    </ReservationListProvider>
  </div>
</template>

<script>
import ReservationListProvider from "@/providers/ReservationListProvider";
import ReservationList from "@/views/Reservations/ReservationList";

export default {
  name: "Reservations",
  components: {ReservationList, ReservationListProvider},
  inject: ['user']
}
</script>
