<template>
  <div :class="'max-w-sm rounded overflow-hidden shadow-lg '+moreCssClasses" @click="$emit('click')">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{title}}</div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    title: String,
    moreCssClasses: {
      type: String,
      default: ""
    }
  }
}
</script>

<style scoped>

</style>