<template>
  <Modal
    :on-close="onClose"
  >
    <template v-slot:header>Donnez une raison</template>
    <template v-slot:body>
      <Vuemik
        :initial-values="{
          reason: ''
        }"
        :on-submit="submit"
        v-slot="{handleSubmit}"
      >
        <label>
          Donnez une raison :
          <Field component="input" type="text" name="reason"/>
        </label>
        <Button type="primary" @click="handleSubmit">Envoyer</Button>
      </Vuemik>
    </template>
    <template v-slot:back-button>Retour</template>
  </Modal>
</template>

<script>
export default {
  name: "GiveReasonModal",
  methods: {
    submit({reason}) {
      this.onSubmit(reason);
    }
  },
  props: {
    onClose: Function,
    onSubmit: Function
  }
}
</script>

<style scoped>

</style>