<template>
  <Vuemik
      :initial-values="initialValues"
      :title="title"
      :on-submit="onSubmit"
      v-slot="{handleSubmit}"
  >
    <label>
      Rentrez un nom :
      <Field component="input" type="text" name="name" placeholder="Nom" required="required"/>
    </label>

    <div class="mt-2">
      <Button
          type="primary"
          @click="handleSubmit"
      >
        {{labelSubmit}}
      </Button>
    </div>
    <div class="mt-4">
      <Button
          type="secondary"
          @click="onClose"
      >
        Retour
      </Button>
    </div>
  </Vuemik>
</template>

<script>

export default {
  name: "MenuForm",
  props: {
    initialValues: {
      type: Object,
      default: () => ({
        name: '',
      })
    },
    onSubmit: {
      type: Function
    },
    labelSubmit: {
      type: String,
      default: 'Valider'
    },
    title: {
      type: String,
      default: null
    },
    onClose: Function
  }
}
</script>