<template>
  <div>
    <div id="default-modal" class="overflow-x-hidden fixed z-40 justify-center items-center h-modal md:h-full inset-0 flex" aria-modal="true" role="dialog">
      <div :class="'relative px-4 w-full '+width_class+' h-full'">
        <!-- Modal content -->
        <div class="border-solid border-2 border-indigo-600 relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
            <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
              <slot name="header"></slot>
            </h3>
            <button @click="onClose" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="default-modal">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <slot name="body"></slot>
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
            <button @click="onClose" data-modal-toggle="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <slot name="back-button"></slot>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-30"></div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    width_class: {
      type: String,
      default: "max-w-2xl"
    },
    onClose: {
      type: Function
    }
  }
}
</script>

<style scoped>

</style>
