<template>
  <div id="nav" class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
      <span class="font-semibold text-xl text-black tracking-tight">Book My Table</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto bg-gray-300 rounded-full">
      <div class="text-sm lg:flex-grow">
        <router-link to="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Home </router-link> |
        <span v-if="!user.isGranted('ROLE_ADMIN')">
          <router-link to="/restaurants" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Trouver un restaurant</router-link> |
        </span>
        <span v-if="user.isGranted('ROLE_RESTORER')">
          <router-link to="/restaurants?member=true" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Gérer mes restaurants</router-link> |
          <router-link to="/reservations" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Gérer mes réservations</router-link> |
        </span>
        <span v-if="user.isGranted('ROLE_USER') && !user.isGranted('ROLE_RESTORER') && !user.isGranted('ROLE_ADMIN')">
          <router-link to="/reservations" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Voir mes réservations</router-link> |
        </span>
        <span v-if="user.isGranted('ROLE_ADMIN')">
          <router-link to="/usermanagement" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Gestion des utilisateurs</router-link> |
          <router-link to="/restaurants" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Gestion des restaurants</router-link> |
          <router-link to="/suggestions" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Voir les suggestions</router-link> |
        </span>
      </div>
      <div>
        <div v-if="user.session === null">
          <router-link to="/login" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Connexion</router-link> |
          <router-link to="/register" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Inscription</router-link>
        </div>
        <div v-else class="flex flex-row">
          <router-link to="/myaccount" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Configurer mon compte</router-link> |
          <a @click="user.logout" href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:underline mr-4">Déconnexion</a>
          <div>{{user.session.firstname}} {{user.session.lastname}}</div>
          <NotificationProvider>
            <Notifications/>
          </NotificationProvider>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notifications from "@/views/Notifications/Notifications";
import NotificationProvider from "@/providers/NotificationProvider";
export default {
  components: {NotificationProvider, Notifications},
  inject: ["user"],
  name: "Navbar"
}
</script>

<style scoped>

</style>
