<template>
  <Vuemik
      :initial-values="initialValues"
      :title="title"
      :on-submit="onSubmit"
      v-slot="{handleSubmit}"
  >
    <label>
      Rentrez un nom :
      <Field component="input" type="text" name="name" placeholder="Nom" required="required"/>
    </label>
    <label>
      Rentrez une description :
      <Field component="textarea" name="description" placeholder="Description" required="required"/>
    </label>
    <label>
      Rentrez un prix :
      <Field component="input" type="number" name="price" placeholder="Prix" required="required" step="0.01"/>
    </label>
    <label>
      Plat du jour ?
      <Field component="input" type="checkbox" name="todays"/>
    </label>

    <div class="mt-2">
      <Button
          @click="handleSubmit"
          type="primary"
      >
        {{labelSubmit}}
      </Button>
    </div>
    <div class="mt-2">
      <Button
          @click="onClose"
          type="secondary"
      >
        Retour
      </Button>
    </div>
  </Vuemik>
</template>

<script>

export default {
  name: "PlateForm",
  props: {
    initialValues: {
      type: Object,
      default: () => ({
        name: '',
        description: '',
        price: 0,
        todays: false
      })
    },
    onSubmit: {
      type: Function
    },
    labelSubmit: {
      type: String,
      default: 'Valider'
    },
    title: {
      type: String,
      default: null
    },
    onClose: Function
  }
}
</script>