<template>
  <Vuemik
      :initial-values="initialValues"
      title="Réservation"
      :on-submit="submit"
      v-slot={handleSubmit,values}
      :violations="reservationProvider.violations"
  >
    <label>
      La date :
      <Field component='input' type='date' name='date' placeholder="La date"/>
    </label><br/>
    <label>
      Le nombre de personnes :
      <Field component='input' type='number' name='nbpersonnes' max='5000' min='1'/>
    </label><br/>
    <label>
      Un commentaire ? :
      <Field component="textarea" name='comment'/>
    </label><br/>

    <div v-if="reservationProvider.restaurant.isMember">
      {{ values.specifiedCustomerID === user.session.id ?
        "Vous réservez pour vous" :
        reservationProvider.selectedUser !== null ?
            "Vous réservez pour "+reservationProvider.selectedUser.firstname+" "+reservationProvider.selectedUser.lastname :
            "Vous réservez pour un utilisateur non inscrit" }}
    </div>
    <Button
        v-if="reservationProvider.restaurant.isMember"
        type="secondary-light"
        more-classes="mt-2"
        @click="values.specifiedCustomerID = values.specifiedCustomerID !== user.session.id ? user.session.id : null; reservationProvider.setSelectedUser(null)"
    >
      {{ values.specifiedCustomerID === user.session.id ? "Réserver pour un autre" : "Réserver pour moi" }}
    </Button>
    <div v-if="reservationProvider.restaurant.isMember" v-show="values.specifiedCustomerID !== user.session.id" class="mt-8">
      <label>Entrez un mail pour envoie de confirmation</label>
      <br/>
      <Field component="input" type="text" placeholder="Rentrez une adresse mail" name="emailToConfirm"/>
      <Button
        type="primary"
        @click="reservationProvider.findByEmail(values)"
      >
        Rechercher
      </Button>
      <div>
        <div v-show="!reservationProvider.searchingUserByMail && !reservationProvider.searchedUserByMail">
          Veuillez lancer une recherche
        </div>
        <div v-show="reservationProvider.searchingUserByMail">
          Recherche en cours...
        </div>
        <div v-show="!reservationProvider.searchingUserByMail && reservationProvider.searchedUserByMail && reservationProvider.selectedUser === null">
          Aucun utilisateur trouvé
        </div>
        <div v-if="!reservationProvider.searchingUserByMail && reservationProvider.selectedUser !== null">
          Utilisateur trouvé ! : {{reservationProvider.selectedUser.firstname}} {{reservationProvider.selectedUser.lastname}} ({{reservationProvider.selectedUser.email}})
        </div>
      </div>
    </div>
    <div v-if="reservationProvider.reservation !== null">
      <label>
        Service :
        <Field component="select" name="scheduleID">
          <option
            v-for="schedule in reservationProvider.schedulesList"
            :key="schedule.id"
            :value="schedule.id"
            :selected="schedule.id === values.scheduleID"
          >
            {{schedule.name}}
          </option>
        </Field>
      </label>
    </div>
    <br/>
    <Button
        type='primary'
        more-classes='mt-4'
        @click="handleSubmit"
    >
      Valider
    </Button>
  </Vuemik>
</template>

<script>

export default {
  name: "ReservationForm",
  inject: ['user', 'reservationProvider'],
  data() {
    return {
      initialValues:
          this.reservationProvider.reservation == null ? {
                date: '',
                nbpersonnes: 1,
                comment: '',
                scheduleID: this.reservationProvider.schedule.id,
                specifiedCustomerID: this.user.session.id,
                emailToConfirm: ''
              } :
              this.reservationProvider.reservationEditValues
    };
  },
  methods: {
    submit(values) {
      if (this.reservationProvider.reservation === null) {
        this.reservationProvider.bookTable(values);
      } else {
        this.reservationProvider.editReservation(values);
      }
    }
  }
}
</script>
