<template>
  <Vuemik
      :initial-values="initialValues"
      :violations="violations"
      :title="title"
      :on-submit="onSubmit"
      v-slot="{handleSubmit}"
  >
    <label>
      Entrez son nom :
      <Field component="input" type="text" name="name" placeholder="Nom" required="required"/>
    </label>
    <label>
      Entrez sa ville :
      <Field component="input" type="text" name="city" placeholder="Ville" required="required"/>
    </label>
    <label>
      Entrez son code postal
      <Field component="input" type="text" name="zipcode" placeholder="Code postal" required="required"/>
    </label>
    <label>
      Entrez son adresse
      <Field component="input" type="text" name="address" placeholder="Adresse" required="required"/>
    </label>
    <label>
      Entrez un numéro de téléphone
      <Field component="input" type="tel" name="phonenumber" placeholder="Numéro de téléphone" required="required"/>
    </label>
    <label>
      Combien de places?
      <Field component="input" type="number" name="nbPlace" required="required"/>
    </label>
    <Button
      type="primary"
      more-classes="mt-10"
      @click="handleSubmit"
    >
      {{labelSubmit}}
    </Button>
  </Vuemik>
</template>

<script>

export default {
  name: "RestaurantForm",
  props: {
    initialValues: {
      type: Object,
      default: () => ({
        name: '',
        city: '',
        zipcode: '',
        address: '',
        phonenumber: '',
        nbPlace: 0
      })
    },
    violations: {
      type: Object
    },
    onSubmit: {
      type: Function
    },
    labelSubmit: {
      type: String,
      default: 'Valider'
    },
    title: {
      type: String,
      default: null
    }
  }
}
</script>