<template>
  <Vuemik
    :initial-values="initialValues"
    :violations="scheduleProvider.violations"
    :on-submit="onSubmit"
    :title="title"
    v-slot="{values, handleSubmit}"
  >
    <label>
      Entrez son nom :
      <Field component="input" type="text" name="name" placeholder="Nom" required="required"/>
    </label>
    <label>
      Heure de début :
      <Field component="input" type="time" name="start" placeholder="Heure de début" required="required"/>
    </label>
    <label>
      Heure de fin :
      <Field component="input" type="time" name="ending" placeholder="Heure de fin" required="required"/>
    </label>
    <label>
      Combien de places?
      <Field component="input" type="number" name="nbPlace" required="required"/>
    </label>
    <div>
      <h2 class="text-xl">Les jours :</h2>
      <div>
        <div
            v-for="(dayName,dayNum) in scheduleProvider.days"
            :key="dayNum"
            :class="(values.days.includes(dayNum) ? 'bg-green-500 hover:bg-green-700 text-white ' : 'bg-gray-200 hover:bg-gray-400 ')+'cursor-pointer font-bold py-2 px-4 rounded-full inline-block'"
            @click="addRemoveDay(dayNum,values)"
        >
          {{ dayName }}
        </div>
      </div>
      <ul v-show="scheduleProvider.violations.days.length > 0">
        <li v-for="(error,index) in scheduleProvider.violations.days" :key="index" class="text-red-600">
          {{error}}
        </li>
      </ul>
    </div>

    <Button
      type="primary"
      more-classes="mt-10"
      @click="handleSubmit"
    >
      {{labelSubmit}}
    </Button>
  </Vuemik>
</template>

<script>
export default {
  name: "ScheduleForm",
  inject: ['scheduleProvider'],
  props: {
    initialValues: {
      type: Object,
      default: () => ({
        name: '',
        start: '11:00',
        ending: '14:00',
        nbPlace: 0,
        days: [0,1,2,3,4]
      })
    },
    onSubmit: Function,
    labelSubmit: {
      type: String,
      default: 'Valider'
    },
    title: {
      type: String,
      default: null
    }
  },
  methods: {
    addRemoveDay(dayNum,values) {
      for (let i=0;i<values.days.length;i++) {
        if (values.days[i] === dayNum) {
          values.days.splice(i,1);
          return;
        }
      }
      values.days.push(dayNum);
    }
  }
}
</script>