<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getUsers as getUsersActions,
  banUnbanUser as banUnbanUserActions,
  getUserById as userById,
  validateRestorer as validateRestorerAction
} from "../actions/AdminActions";
import {provideMethods,provideDatas} from "@/libs/genProvider";
import {reactFromAPIPut} from "@/libs/reactFromAPI";
export default {
  name: 'AdminUserListProvider',
  inject: {alert: 'createAlert', user: 'user'},
  provide: function() {
    const provider = {};
    provideDatas(provider, 'adminUserListProvider', this);
    provideMethods(provider, 'adminUserListProvider', this);
    return provider;
  },
  beforeMount() {
    if (!this.user.isGranted('ROLE_ADMIN')) {
      this.$router.push("/");
    }
  },
  data: () => ({
    usersList: [],
    suggestionsList: [],
    userData: {},
    showUser: false,
    isLoading: true,

    userToShowReasonToBan: null
  }),
  methods: {
    getAllUsers: function(filters = {}) {
      getUsersActions(this.computeFilters(filters))
          .then(async response => {
            this.usersList = await response.json();
            this.isLoading = false
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => {
            this.isLoading = false
          } )
    },
    getUser: function(id) {
      userById(id)
          .then(async response => {
            this.userData = await response.json();
            this.showUser = true
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => this.isLoading = false)
    },
    hideUser: function() {
      this.showUser = false
    },
    banUnbanUserById: function(user,banned, reason = null) {
      if (!confirm('Voulez-vous '+(banned ? "bannir" : 'débannir')+' cet utilisateur ?'))
        return;
      banUnbanUserActions(user.id, banned, reason)
        .then((res) =>
          reactFromAPIPut(
              res,
              {},
              this.alert,
              "Utilisateur "+(banned ? "banni" : "débanni")+" avec succès!"
          ).then(success => {
            if (!success)
              return;
            user.banned = banned;
            this.hideUserToShowReasonToBan();
          })
        )
    },
    setUserToShowReasonToBan(user) {
      this.userToShowReasonToBan = user;
    },
    hideUserToShowReasonToBan() {
      this.userToShowReasonToBan = null
    },
    validateRestorer(user) {
      if (!confirm("Voulez vous valider ce restaurateur ?"))
        return;
      validateRestorerAction(user.id)
        .then(res =>
          reactFromAPIPut(
              res,
              {},
              this.alert,
              "Restaurateur validé avec succès!"
          ).then(success => {
            if (!success)
              return;

            user.restorerValidated = true;
          })
        )
    },
    computeFilters(filters) {
      return Object.entries(filters).reduce((acc,[key,value]) => ({
        ...acc,
        [key === 'registerToken' ? 'exists[registerToken]' : key]: value
      }), {})
    }
  }
}
</script>
