<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {provideMethods,provideDatas} from "../libs/genProvider";
import {
  denySuggestionsTypeById as denySuggestionTypeActions,
  getSuggestions as getSuggestionsActions,
  validSuggestionsTypeById as validSuggestionTypeActions
} from "../actions/AdminActions";

export default {
  name: "AdminSuggestionListProvider",
  inject: {alert: 'createAlert', user: 'user'},
  provide: function() {
    const provider = {};
    provideDatas(provider, 'adminSuggestionListProvider', this);
    provideMethods(provider, 'adminSuggestionListProvider', this);
    return provider;
  },
  beforeMount: function() {
    if (!this.user.isGranted('ROLE_ADMIN')) {
      this.$router.push("/");
      return;
    }
    this.getAllSuggestions()
  },
  data: () => ({
    suggestionsList: [],
    isLoading: true,
  }),
  methods: {
    getAllSuggestions: function() {
      getSuggestionsActions()
          .then(async response => {
            this.suggestionsList = await response.json();
            this.isLoading = false
          })
          .catch(error => {
            console.log(error)
          })
          .finally(() => {
            this.isLoading = false
          } )
    },
    validSuggestionType: function(id) {
      validSuggestionTypeActions(id)
          .then(() => {
            for (let i = 0; i < this.suggestionsList.length; i++) {
              if (this.suggestionsList[i].id === id) {
                this.suggestionsList.splice(i, 1)
                break;
              }
            }
            this.alert({
              color: 'green',
              text: "Type de restaurant validé",
              icon: 'check'
            });
          })
          .catch((error) => {
            console.error(error)
            this.alert({
              color: 'red',
              text: 'Erreur le type la requête n\'a pas pu être validé',
              icon: 'times'
            });
          })
    },
    denySuggestionType: function(id) {
      denySuggestionTypeActions(id)
          .then(() => {
            for (let i = 0; i < this.suggestionsList.length; i++) {
              if (this.suggestionsList[i].id === id) {
                this.suggestionsList.splice(i, 1)
                break;
              }
            }
            this.alert({
              color: 'green',
              text: "Type de restaurant refusé",
              icon: 'check'
            });
          })
          .catch((error) => {
            console.error(error)
            this.alert({
              color: 'red',
              text: 'Erreur le type de restaurant n\'a pas pu être refusé',
              icon: 'times'
            });
          })
    },
  }
}
</script>

<style scoped>

</style>
