<template>
  <div>
    <div class="fixed top-10 right-10 z-50">
      <div class="grid" v-for="(alert, key) in alerts" :key="key">
        <AlertBanner
            :color="alert.color"
            :text="alert.text"
            :icon="alert.icon"
        />
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script>
import AlertBanner from "@/components/Form/AlertBanner";

export default {
  name: "AlertProvider",
  data: () => ({
    alerts: []
  }),
  components: {
    AlertBanner
  },
  provide() {
    return {
      createAlert: this.createAlert
    }
  },
  methods: {
    createAlert: function(alert, timeout = 5000) {
      this.alerts.push(alert)

      setTimeout(() => {
        this.alerts.splice(0, 1)
      }, timeout)
    }
  }
}
</script>

<style scoped>

</style>