<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getRestaurantMenus as getRestaurantMenusAction,
  postSubMenu as postSubMenuAction,
  postMenu as postMenuAction,
  putMenu as putMenuAction,
  deleteMenu as deleteMenuAction,
  upMenu as upMenuAction,
  downMenu as downMenuAction,

  postElement as postElementAction,
  putElement as putElementAction,
  deleteElement as deleteElementAction,
  upElement as upElementAction,
  downElement as downElementAction
} from "@/actions/MenuActions";
import {provideDatas, provideMethods} from "@/libs/genProvider";
import {reactFromAPIDelete, reactFromAPIPost, reactFromAPIPut} from "@/libs/reactFromAPI";

export default {
  name: "MenuProvider",
  inject: ['createAlert'],
  data: () => ({
    menus: null,
    loading: false,
  }),
  props: {
    restaurant: Object
  },
  provide() {
    const provider = {};

    provideDatas(provider, 'menuProvider', this);
    provideMethods(provider, 'menuProvider', this);

    return provider;
  },
  methods: {
    getRestaurantMenu() {
      this.loading = true;
      getRestaurantMenusAction(this.restaurant.id)
          .then(res => res.json())
          .then(menus => {
            this.setInteractiveAttributes(menus);
            this.menus = menus;
            this.restaurant.menus = menus;
            this.loading = false;
          });
    },
    createMenu(parent, values) {
      const action = parent.elements ?
          postSubMenuAction(this.restaurant.id, parent._id, values) : // If we add subMenu in another menu
          postMenuAction(this.restaurant.id, values); // If we add menu in root restaurant
      return action
          .then(res =>
            reactFromAPIPost(
                res,
                {},
                this.createAlert,
                "Menus créé avec succès!"
            ).then(async success => {
              if (!success)
                return false;
              const newMenu = await res.json();
              const menus = parent.menus??parent.subMenus;
              menus.push({...newMenu, expanded: false, editing: false});
              return true;
            })
          )
    },
    deleteMenu(parent,menuId) {
      if (!confirm("Êtes-vous sûr de vouloir supprimer ce menu?"))
        return;
      deleteMenuAction(this.restaurant.id,menuId)
      .then(res =>
        reactFromAPIDelete(
            res,
            {},
            this.createAlert,
            "Menu supprimé avec succès!"
        ).then(success => {
          if (!success)
            return;
          const menus = parent.menus??parent.subMenus;
          for (let i=0;i<menus.length;i++) {
            if (menus[i]._id === menuId) {
              menus.splice(i,1);
              break;
            }
          }
        })
      )
    },
    async editMenu(menu) {
      if (menu.editing) {
        const res = await putMenuAction(this.restaurant.id,menu._id,{name: menu.name})
        const success = await reactFromAPIPut(
            res,
            {},
            this.createAlert,
            "Menu modifié avec succès !"
        )
        if (!success)
          return;
      }
      menu.oldName = menu.name
      menu.editing = !menu.editing;
    },
    cancelMenuEdit(menu) {
      menu.name = menu.oldName;
      menu.editing = false;
    },
    createElement(parent,values) {
      return postElementAction(this.restaurant.id,parent._id,values)
        .then(res =>
          reactFromAPIPost(
              res,
              {},
              this.createAlert,
              "Plat créé avec succès!"
          ).then(async success => {
            if (!success)
              return false;
            const newElement = await res.json()
            parent.elements.push({...newElement, editing: false});
            if (newElement.todays) {
              for (const element of parent.elements) {
                if (element._id !== newElement._id) {
                  element.todays = false;
                }
              }
            }
            return true;
          })
        )
    },
    deleteElement(parent,elementId) {
      if (!confirm("Vous vous vraiment supprimer ce plat ?"))
        return;
      deleteElementAction(this.restaurant.id,parent._id,elementId)
      .then(res => {
        reactFromAPIDelete(
            res,
            {},
            this.createAlert,
            "Plat supprimé avec succès!"
        ).then(success => {
          if (!success)
            return;
          for (let i=0;i<parent.elements.length;i++) {
            if (parent.elements[i]._id === elementId) {
              parent.elements.splice(i,1);
              break;
            }
          }
        })
      })
    },
    async editElement(parent,element,values) {
      putElementAction(this.restaurant.id,parent._id,element._id,values)
        .then(res =>
          reactFromAPIPut(
              res,
              {},
              this.createAlert,
              "Plat modifié avec succès!"
          ).then(async success => {
            if (!success)
              return;
            const editedElement = await res.json();
            for (const [name,value] of Object.entries(editedElement)) {
              element[name] = value;
            }
            element.editing = false;
            if (element.todays) {
              for (const otherElement of parent.elements) {
                if (otherElement._id !== element._id) {
                  otherElement.todays = false
                }
              }
            }
          })
        )
    },
    showHideEditElement(element) {
      element.editing = !element.editing;
    },
    upMenu(parent,menuId) {
      upMenuAction(this.restaurant.id,menuId)
        .then(res =>
            reactFromAPIPut(
                res,
                {},
                this.createAlert,
                "Menu décalé vers le haut"
            ).then(success => {
              if (!success)
                return;
              const menus = parent.menus??parent.subMenus;
              this.graphicallyDecaleMenuOrElement(menus,menuId,-1);
            })
        )
    },
    downMenu(parent,menuId) {
      downMenuAction(this.restaurant.id,menuId)
          .then(res =>
              reactFromAPIPut(
                  res,
                  {},
                  this.createAlert,
                  "Menu décalé vers le bas"
              ).then(success => {
                if (!success)
                  return;
                const menus = parent.menus??parent.subMenus;
                this.graphicallyDecaleMenuOrElement(menus,menuId,1);
              })
          )
    },
    upElement(parent,elementId) {
      upElementAction(this.restaurant.id,parent._id,elementId)
          .then(res =>
              reactFromAPIPut(
                  res,
                  {},
                  this.createAlert,
                  "Plat décalé vers le haut"
              ).then(success => {
                if (!success)
                  return;
                this.graphicallyDecaleMenuOrElement(parent.elements,elementId,-1);
              })
          )
    },
    downElement(parent,elementId) {
      downElementAction(this.restaurant.id,parent._id,elementId)
          .then(res =>
              reactFromAPIPut(
                  res,
                  {},
                  this.createAlert,
                  "Plat décalé vers le bas"
              ).then(success => {
                if (!success)
                  return;
                this.graphicallyDecaleMenuOrElement(parent.elements,elementId,1);
              })
          )
    },
    graphicallyDecaleMenuOrElement(list,id,toDecale) {
      for (let i=0;i<list.length;i++) {
        const e = list[i];
        if (e._id === id) {
          if (i+toDecale < 0 || i+toDecale >= list.length)
            break;
          list.splice(i,1);
          list.splice(i+toDecale,0,e);
          break;
        }
      }
    },
    setInteractiveAttributes(parent) {
      if (parent.elements) {
        for (const element of parent.elements) {
          element.editing = false
        }
      }
      for (const menu of parent.menus ?? parent.subMenus) {
        menu.expanded = false;
        menu.editing = false;
        this.setInteractiveAttributes(menu);
      }
    },
    expandUnexpandMenu(menu) {
      menu.expanded = !menu.expanded;
    }
  },
  beforeMount() {
    if (this.restaurant.menus === undefined) {
      this.getRestaurantMenu();
    } else {
      this.menus = this.restaurant.menus;
    }
  }
}
</script>

<style scoped>

</style>
