<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getNotifications as getNotificationsAction,
  deleteNotification as deleteNotificationAction,
  readAllNotification as readAllNotificationAction
} from "@/actions/NotificationActions";
import { provideDatas, provideMethods } from "@/libs/genProvider";
import {
  getOneRestaurant as getOneRestaurantAction,
  checkIfIsMember as checkIfIsMemberAction
} from "@/actions/RestaurantActions";
import {getAverageNote as getAverageNoteAction} from "../actions/NoteActions";
import {reactFromAPIDelete, reactFromAPIPut} from "@/libs/reactFromAPI";

export default {
  name: "NotificationProvider",
  inject: ['createAlert'],
  provide() {
    const provider = {};

    provideDatas(provider, "notificationProvider", this);
    provideMethods(provider, "notificationProvider", this);

    return provider;
  },
  data: () => ({
    notifications: [],
    showNotifications: false,

    loading: false,

    restaurantToShowInModal: null
  }),
  computed: {
    nbNotRead: function() {
      return this.notifications.filter(notification => !notification.read).length
    }
  },
  methods: {
    getNotifications() {
      this.loading = true;
      getNotificationsAction()
        .then(res => res.json())
        .then(notifications => {
          this.loading = false;
          this.notifications = notifications.reverse();
        })
    },
    deleteNotification(id) {
      deleteNotificationAction(id)
        .then(res =>
          reactFromAPIDelete(
              res,
              {},
              this.createAlert
          ).then(success => {
            if (!success)
              return
            for (let i=0;i<this.notifications.length;i++) {
              if (this.notifications[i]._id === id) {
                this.notifications.splice(i,1);
                break;
              }
            }
          })
        )
    },
    readAllNotification() {
      readAllNotificationAction()
        .then(res =>
          reactFromAPIPut(
              res,
              {},
              this.createAlert
          ).then(success => {
            if (!success)
              return;

            for (let i=0;i<this.notifications.length;i++) {
              this.notifications[i].read = true;
            }
          })
        )
    },
    showRestaurantInModal(id) {
      Promise.all([
          getOneRestaurantAction(id).then(res => res.status === 404 ? null : res.json()),
          checkIfIsMemberAction(id).then(res => res.status === 204)
      ]).then(async ([restaurant,isMember]) => {
        if (restaurant === null) {
          this.createAlert({
            color: "red",
            text: "Ce restaurant est introuvable",
            icon: "times"
          });
        } else {
          restaurant.isMember = isMember;
          restaurant.averageNote = restaurant.validated ? await getAverageNoteAction(id).then(res => res.json()) : null;

          this.restaurantToShowInModal = restaurant;
        }
      })
    },
    hideRestaurantModal() {
      this.restaurantToShowInModal = null;
    },
    showHideNotifications() {
      this.showNotifications = !this.showNotifications;
    }
  },
  watch: {
    showNotifications(show) {
      if (show) {
        this.readAllNotification();
      }
    }
  },
  beforeMount() {
    this.getNotifications();
  }
}
</script>

<style scoped>

</style>
