<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getCustomerReservations as getCustomerReservationsAction,
  getRestaurantReservations as getRestaurantReservationsAction,
  getScheduleReservations as getScheduleReservationsAction,
  deleteReservation as deleteReservationAction
} from "@/actions/ReservationActions";
import {
  checkIfIsMember as checkIfIsMemberAction,
  getMemberedRestaurants as getMemberedRestaurantsAction,
  getOneRestaurant as getOneRestaurantAction
} from "@/actions/RestaurantActions";
import {getSchedules as getSchedulesAction} from "@/actions/ScheduleActions";
import {provideDatas, provideMethods} from "@/libs/genProvider";
import {reactFromAPIDelete} from "@/libs/reactFromAPI";
import {getAverageNote as getAverageNoteAction} from "@/actions/NoteActions";

export default {
  name: "ReservationListProvider",
  inject: ['user', 'createAlert'],
  provide() {
    const provider = {};

    provideDatas(provider, "reservationListProvider", this);
    provideMethods(provider, "reservationListProvider", this);

    return provider;
  },
  data: () => ({
    reservations: [],

    selectedRestaurant: null,
    selectedSchedule: null,

    showCustomer: false,

    reservationIdToCancelWithReason: null,

    searched: false,
    searching: false,

    memberedRestaurantsById: [],
    schedulesListByRestaurantId: {},

    reservationToEdit: null,

    restaurantToShowInModal: null
  }),
  methods: {
    getReservations() {
      this.errorSearching = "";
      let action = () => getCustomerReservationsAction();
      if (this.user.isGranted('ROLE_RESTORER')) {
        if (this.selectedSchedule !== null) {
          action = () => getScheduleReservationsAction(this.selectedSchedule.id);
        } else if (this.selectedRestaurant !== null) {
          action = () => getRestaurantReservationsAction(this.selectedRestaurant.id);
        }
      }
      this.showCustomer = this.selectedRestaurant !== null
      this.searching = true;
      this.reservations = [];
      action()
          .then(res => res.json())
          .then(reservations => {
            this.reservations = reservations.map(reservation => {
              if (reservation.restaurant === undefined && this.selectedRestaurant !== null) {
                reservation.restaurant = this.selectedRestaurant
              }
              if (reservation.schedule === undefined && this.selectedSchedule !== null) {
                reservation.schedule = this.selectedSchedule;
              }
              return reservation
            });
            this.searching = false;
            this.searched = true;
          })
    },
    async selectRestaurant(id) {
      if (id === "0") {
        this.selectedRestaurant = null;
        this.selectedSchedule = null;
        return;
      }
      this.selectedRestaurant = this.memberedRestaurantsById[id];
      if (this.schedulesListByRestaurantId[id] === null) {
        this.schedulesListByRestaurantId[id] = await getSchedulesAction(id)
            .then(res => res.json())
            .then(schedules => schedules.reduce((acc,schedule) => ({
              ...acc,
              [schedule.id]: schedule
            }), {}));
      }
    },
    selectSchedule(id) {
      this.selectedSchedule = id === "0" ? null : this.schedulesListByRestaurantId[this.selectedRestaurant.id][id]
    },

    setReservationIdToCancelWithReason(reservationId) {
      this.reservationIdToCancelWithReason = reservationId;
    },
    hideReservationIdToCancelWithReason() {
      this.reservationIdToCancelWithReason = null;
    },

    deleteReservationClick(reservation,schedule) {
      const maxReservationDateTime = new Date(reservation.date.split("T")[0]+"T"+schedule.ending.split("T")[1]);
      if (this.user.isGranted("ROLE_RESTORER") &&
         (
             (
                 reservation.customer &&
                 reservation.customer.id !== this.user.session.id
             ) || (
                 reservation.emailToConfirm &&
                 reservation.customer === null
             )
         ) &&
          new Date() <= maxReservationDateTime) {
        this.setReservationIdToCancelWithReason(reservation.id);
      } else {
        this.deleteReservation(reservation.id);
      }
    },
    deleteReservation(reservationId, reason = null) {
      if (!confirm("Voulez vraiment supprimer cette réservation ?"))
        return

      deleteReservationAction(reservationId, reason)
        .then(res =>
          reactFromAPIDelete(
            res,
            {},
            this.createAlert,
            "Réservation annulée avec succès"
          ).then(success => {
            if (!success)
              return;

            this.hideReservationIdToCancelWithReason();
            for (let i=0;i<this.reservations.length;i++) {
              if (this.reservations[i].id === reservationId) {
                this.reservations.splice(i,1);
                break;
              }
            }
          })
        )
    },

    setReservationToEdit(reservation) {
      this.reservationToEdit = reservation;
    },
    hideReservationToEdit() {
      this.reservationToEdit = null;
    },

    detectRestaurantFilter($route) {
      if (parseInt($route.query.restaurant).toString() === $route.query.restaurant &&
          $route.query.restaurant !== "NaN" &&
          this.memberedRestaurantsById[parseInt($route.query.restaurant)]) {
        this.selectedRestaurant = this.memberedRestaurantsById[parseInt($route.query.restaurant)]
      }
    },

    showRestaurantInModal(restaurantId) {
      Promise.all([
        getOneRestaurantAction(restaurantId).then(res => res.status === 404 ? null : res.json()),
        checkIfIsMemberAction(restaurantId).then(res => res.status === 204)
      ]).then(async ([restaurant,isMember]) => {
        if (restaurant === null) {
          this.createAlert({
            color: "red",
            text: "Ce restaurant est introuvable",
            icon: "times"
          });
        } else {
          restaurant.isMember = isMember;
          restaurant.averageNote = restaurant.validated ? await getAverageNoteAction(restaurantId).then(res => res.json()) : null;

          this.restaurantToShowInModal = restaurant;
        }
      })
    },
    hideRestaurantToShowInModal() {
      this.restaurantToShowInModal = null;
    }
  },
  watch: {
    $route(newRoute) {
      this.detectRestaurantFilter(newRoute);
    }
  },
  beforeMount() {
    if (this.user.isGranted('ROLE_RESTORER')) {
      getMemberedRestaurantsAction({}, 1, false)
        .then(res => res.json())
        .then(({result: restaurants}) => {
          this.memberedRestaurantsById = restaurants.reduce((acc,restaurant) => ({
            ...acc,
            [restaurant.id]: restaurant
          }), {});
          this.schedulesListByRestaurantId = restaurants.reduce((acc,restaurant) => ({
            ...acc,
            [restaurant.id]: null
          }), {})
          this.detectRestaurantFilter(this.$route)
        })
    } else {
      this.getReservations();
    }
  }
}
</script>

<style scoped>

</style>
