<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {reactFromAPIPost, reactFromAPIPut} from "@/libs/reactFromAPI";
import { provideDatas, provideMethods } from "@/libs/genProvider";
import {
  bookTable as bookTableAction,
  editReservation as editReservationAction
} from "@/actions/ReservationActions";
import { findByEmail as findByEmailAction } from "@/actions/UserActions";
import {getSchedules as getSchedulesAction} from "@/actions/ScheduleActions";
import {formatISODateEnglishFormat} from "@/libs/timeFormatter";

export default {
  name: "ReservationProvider",
  inject: ['createAlert'],
  provide() {
    const provider = {};

    provideDatas(provider,"reservationProvider", this);
    provideMethods(provider,"reservationProvider", this);

    return provider
  },
  data: () => ({
    violations: {
      date: [],
      nbpersonnes: [],
      specifiedCustomerID: [],
      scheduleID: [],
      comment: [],
      emailToConfirm: []
    },
    selectedUser: null,
    searchingUserByMail: false,
    searchedUserByMail: false,
    schedulesList: null
  }),
  props: {
    restaurant: Object,
    schedule: Object,
    schedules: { // schedules list, to select them from form when edeting
      default: null
    },
    reservation: { // specify reservation to edit it
      type: Object,
      default: null
    },
    customer: {
      type: Object,
      default: null
    },
    onClose: Function
  },
  methods: {
    bookTable({date, nbpersonnes, specifiedCustomerID, scheduleID, comment, emailToConfirm}) {
      bookTableAction(date, nbpersonnes, specifiedCustomerID, scheduleID, comment, emailToConfirm)
          .then(res =>
              reactFromAPIPost(
                  res,
                  this.violations,
                  this.createAlert,
                  "Réservation prise avec succès!"
              ).then(success => {
                if (!success)
                  return;

                this.onClose();
              })
          )
    },
    editReservation({date, nbpersonnes, scheduleID, comment}) {
      editReservationAction(this.reservation.id, date, nbpersonnes, scheduleID, comment)
        .then(res =>
          reactFromAPIPut(
              res,
              this.violations,
              this.createAlert,
              "Réservation éditée avec succès!"
          ).then(success => {
            if (!success)
              return;

            for (const [field,value] of Object.entries({date, nbpersonnes, scheduleID, comment})) {
              this.reservation[field] = value;
            }

            if (scheduleID !== this.schedule.id) {
              for (let i = 0;i<this.schedulesList.length;i++) {
                if (this.schedulesList[i].id  === parseInt(scheduleID)) {
                  this.reservation.schedule = this.schedulesList[i];
                  break;
                }
              }
            }

            this.onClose();
          })
        )
    },

    findByEmail(values) {
      if (values.emailToConfirm === "") {
        this.createAlert({
          color: "red",
          text: "Vous n'avez pas mentionné d'adresse mail",
          icon: "times"
        });
        return;
      }
      this.searchingUserByMail = true;
      findByEmailAction(values.emailToConfirm)
        .then(async res => {
          this.searchedUserByMail = true;
          this.searchingUserByMail = false;
          this.setSelectedUser(res.status === 200 ? await res.json() : null);
          values.specifiedCustomerID = this.selectedUser ? this.selectedUser.id : null;
        })
    },

    setSelectedUser(user) {
      this.selectedUser = user;
    },

    getSchedules() {
     getSchedulesAction(this.restaurant.id)
        .then(res => res.json())
        .then(schedules => {
          this.schedulesList = schedules;
        });
    }
  },
  computed: {
    reservationEditValues() {
      if (this.reservation) {
        return {
          ...this.reservation,
          date: formatISODateEnglishFormat(this.reservation.date),
          scheduleID: this.schedule.id,
          specifiedCustomerID: this.customer ? this.customer.id : this.user.session.id
        }
      }
      return null;
    }
  },
  beforeMount() {
    if (this.reservation) { // If we are editing, get schedules list, to choose them in form
      if (this.schedules) {
        this.schedulesList = this.schedules;
      } else {
        this.getSchedules();
      }
    }
  }
}
</script>

<style scoped>

</style>
