<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getJoinRequests as getJoinRequestsAction,
  acceptJoinRequest as acceptJoinRequestAction,
  denyJoinRequest as denyJoinRequestAction
} from "@/actions/JoinRequestsRestaurantActions";
import {provideDatas, provideMethods} from "@/libs/genProvider";
import {reactFromAPIPost} from "@/libs/reactFromAPI";

export default {
  name: "RestaurantJoinRequestProvider",
  inject: ['restaurantListProvider', 'createAlert'],
  provide() {
    const provider = {};

    provideDatas(provider, 'restaurantJoinRequestProvider', this);
    provideMethods(provider, "restaurantJoinRequestProvider", this);

    return provider;
  },
  data: () => ({
    restaurantJoinRequests: [],
    loading: false
  }),
  props: {
    restaurant: Object
  },
  methods: {
    getJoinRequests() {
      this.loading = true;
      getJoinRequestsAction(this.restaurant.id)
          .then(res => res.json())
          .then(restaurantJoinRequests => {
            this.loading = false;
            this.restaurantJoinRequests = restaurantJoinRequests;
            this.restaurant.restaurantJoinRequests = restaurantJoinRequests;
          })
    },
    acceptJoinRequest(joinRequest) {
      if (!confirm("Êtes vous sur de vouloir accepter cette demande ?"))
        return;
      acceptJoinRequestAction(joinRequest.id)
          .then(res =>
              reactFromAPIPost(
                  res,
                  {},
                  this.createAlert,
                  "Demande acceptée avec succès!"
              ).then(success => {
                if (!success)
                  return;

                this.deleteJoinRequestInList(joinRequest);
              })
          )
    },
    denyJoinRequest(joinRequest) {
      if (!confirm("Êtes vous sur de vouloir refuser cette demande ?"))
        return;
      denyJoinRequestAction(joinRequest.id)
          .then(res =>
              reactFromAPIPost(
                  res,
                  {},
                  this.createAlert,
                  "Demande refusée avec succès!"
              ).then(success => {
                if (!success)
                  return;

                this.deleteJoinRequestInList(joinRequest);
              })
          )
    },
    deleteJoinRequestInList(joinRequest) {
      for (let i = 0; i < this.restaurantJoinRequests.length; i++) {
        if (this.restaurantJoinRequests[i].id === joinRequest.id) {
          this.restaurantJoinRequests.splice(i, 1);
          break;
        }
      }
    }
  },
  beforeMount() {
    if (this.restaurant.restaurantJoinRequests === undefined) {
      this.getJoinRequests();
    } else {
      this.restaurantJoinRequests = this.restaurant.restaurantJoinRequests;
    }
  }
}
</script>

<style scoped>

</style>
