<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import RestaurantDetails from "@/views/Restaurants/RestaurantModal/RestaurantDetails";
import RestaurantEditSection from "@/views/Restaurants/RestaurantModal/RestaurantEditSection";
import {clearViolations} from "@/libs/formViolations";
import {
  askToJoin as askToJoinAction,
  banMember as banMemberAction,
  deleteRestaurant as deleteRestaurantAction,
  denyRestaurant as denyRestaurantAction,
  getMembers as getMembersAction,
  leave as leaveAction,
  putRestaurant as putRestaurantAction,
  putRestaurantTypes as putRestaurantTypesAction,
  validateRestaurant as validateRestaurantAction
} from "@/actions/RestaurantActions";
import {reactFromAPIDelete, reactFromAPIPost, reactFromAPIPut} from "@/libs/reactFromAPI";
import {getRestaurantsTypes as getRestaurantsTypesAction} from "@/actions/TypeActions";
import {
  getNote as getNoteAction,
  setNote as setNoteAction,
  getAverageNote as getAverageNoteAction,
  deleteNote as deleteNoteAction
} from "../actions/NoteActions";
import { provideMethods, provideDatas } from "@/libs/genProvider";

export default {
  name: "RestaurantProvider",
  inject: ['createAlert', 'user'],
  provide() {
    const provider = {};

    provideDatas(provider, "restaurantProvider", this);
    provideMethods(provider, "restaurantProvider", this);

    return provider;
  },
  data: () => ({
    memberIdToBan: null,

    showAskToJoinReasonModal: false,

    viewToDisplayInRestaurantModal: null,

    showModalReasonForAdminDelete: false,
    showModalReasonToLeave: false,

    showProposeNewTypeModal: false,

    loadingMembers: false,

    restaurantTypes: [],
    restaurantTypeNameById: {},

    customerNote: null,
    showSetCustomerNote: false,

    violations: {
      name: [],
      city: [],
      zipcode: [],
      address: [],
      phonenumber: [],
      nbPlace: []
    }
  }),
  props: {
    restaurant: Object,
    restaurants: {
      type: Array,
      default: null
    },
    restaurantTypesProp: {
      type: Array,
      default: null
    },
    closeModal: Function
  },
  methods: {
    setViewToDisplayInModal(componentName) {
      if (componentName === RestaurantEditSection.name) {
        clearViolations(this.violations);
      }
      this.viewToDisplayInRestaurantModal = componentName;
    },

    putRestaurant(id, values) {
      putRestaurantAction(id, values).then(res =>
          reactFromAPIPut(
              res,
              this.violations,
              this.createAlert,
              "Restaurant édité avec succès!"
          ).then(success => {
            if (!success)
              return;

            for (const [key, value] of Object.entries(values)) {
              this.restaurant[key] = value;
            }

            if (this.restaurants !== null) {
              for (let i = 0; i < this.restaurants.length; i++) {
                if (this.restaurants[i].id === id) {
                  for (const [key, value] of Object.entries(values)) {
                    this.restaurants[i][key] = value;
                  }
                  break;
                }
              }
            }
            setTimeout(() => {
              this.setViewToDisplayInModal(RestaurantDetails.name)
            }, 500);
          })
      )
    },

    putRestaurantTypes(id, types) {
      putRestaurantTypesAction(id, types).then(async res => {
        reactFromAPIPut(
            res,
            this.violations,
            this.createAlert,
            "Type définis avec succès!"
        ).then(success =>  {
          if (!success)
            return;

          this.restaurant.restaurantTypes = types.map(id => ({
            id,
            name: this.restaurantTypeNameById[id]
          }));

          if (this.restaurants !== null) {
            for (let i = 0; i < this.restaurants.length; i++) {
              if (this.restaurants[i].id === id) {
                this.restaurants[i].restaurantTypes = this.restaurant.restaurantTypes;
                break;
              }
            }
          }

          setTimeout(() => {
            this.setViewToDisplayInModal(RestaurantDetails.name);
          }, 500)
        })
      })
    },
    deleteRestaurantClick(id) {
      if (this.user.isGranted("ROLE_ADMIN")) {
        this.showModalReasonForAdminDelete = true;
      } else {
        this.deleteRestaurant(id);
      }
    },
    deleteRestaurant(id, reason = null) {
      if (confirm("Voulez vous supprimer ce restaurant ?") && confirm("Êtes vraiment sur de vouloir le supprimer ?")) {
        deleteRestaurantAction(id, reason).then(async (res) =>
            reactFromAPIDelete(
                res,
                this.violations,
                this.createAlert,
                "Restaurant supprimé avec succès!"
            ).then(success => {
              if (!success)
                return;

              setTimeout(() => {
                this.deleteRestaurantInData(id);
                this.showModalReasonForAdminDelete = false;
                this.closeModal();
              }, 1000);
            })
        )
      }
    },
    deleteRestaurantInData(id) {
      if (this.restaurants !== null) {
        for (let i = 0; i < this.restaurants.length; i++) {
          if (this.restaurants[i].id === id) {
            this.restaurants.splice(i, 1);
            break;
          }
        }
      }
    },
    validateRestaurant(id) {
      if (!confirm("Voulez vous valider ce restaurant ?"))
        return;
      validateRestaurantAction(id)
          .then(res =>
              reactFromAPIPost(
                  res,
                  {},
                  this.createAlert,
                  "Restaurant validé avec succès!"
              ).then(success => {
                if (!success)
                  return

                this.restaurant.validated = true;

                if (this.restaurants !== null) {
                  for (let i = 0;i<this.restaurants.length;i++) {
                    if (this.restaurants[i].id === this.restaurant.id) {
                      this.restaurants[i].validated = true;
                      break;
                    }
                  }
                }
              })
          )
    },
    denyRestaurant(id) {
      if (!confirm("Voulez vous refuser ce restaurant ?"))
        return;
      denyRestaurantAction(id)
          .then(res =>
              reactFromAPIPost(
                  res,
                  {},
                  this.createAlert,
                  "Restaurant refusé avec succès!"
              ).then(success => {
                if (!success)
                  return

                setTimeout(() => {
                  this.deleteRestaurantInData(id);
                  this.closeModal();
                }, 1000)
              })
          )
    },

    getRestaurantMembers(id) {
      this.loadingMembers = true;
      getMembersAction(id)
          .then(res => res.json())
          .then(members => {
            this.restaurant.members = members
            this.loadingMembers = false;
          })
    },
    banRestaurantMember(restaurantId,restorerId,reason) {
      if (!confirm("Voulez vous vraiment bannir ce membre du restaurant ?"))
        return;

      banMemberAction(restaurantId,restorerId,reason)
          .then(res =>
              reactFromAPIDelete(
                  res,
                  {},
                  this.createAlert,
                  "Utilisateur bannit aves succès!"
              ).then(success => {
                if (!success)
                  return;

                this.memberIdToBan = null;
                for (let i=0;i<this.restaurant.members.length;i++) {
                  if (this.restaurant.members[i].id === restorerId) {
                    this.restaurant.members.splice(i,1);
                    break;
                  }
                }
              })
          )
    },
    setMemberIdToBan(memberIdToBan) {
      this.memberIdToBan = memberIdToBan;
    },

    askToJoin(restaurantId,reason) {
      askToJoinAction(restaurantId,reason)
          .then(res =>
              reactFromAPIPost(
                  res,
                  {},
                  this.createAlert,
                  "Demande envoyée avec succès!"
              ).then(success => {
                if (!success)
                  return;
                this.showAskToJoinReasonModal = false
              })
          )
    },
    leave(restaurantId,reason) {
      if (!confirm("Voulez vous quitter ce restaurant?"))
        return
      leaveAction(restaurantId,reason)
          .then(res =>
              reactFromAPIDelete(
                  res,
                  {},
                  this.createAlert,
                  "Vous avez quitté ce restaurant avec succès!"
              )
          ).then(success => {
        if (!success)
          return;
        this.showModalReasonToLeave = false;
        this.restaurant.isMember = false;

        if (this.restaurants !== null) {
          for (let i = 0; i < this.restaurants.length; i++) {
            if (this.restaurants[i].id === restaurantId) {
              this.restaurants[i].isMember = false;
              break;
            }
          }
        }
      })
    },
    displayAskToJoinReasonModal() {
      this.showAskToJoinReasonModal = true;
    },
    displayModalReasonToLeave() {
      this.showModalReasonToLeave = true;
    },
    closeReasonModal() {
      this.showModalReasonForAdminDelete = this.showAskToJoinReasonModal = this.showModalReasonToLeave = false;
    },
    validReasonModal(restaurantId,reason) {
      if (this.showModalReasonForAdminDelete) {
        this.deleteRestaurant(restaurantId, reason)
        return;
      }
      if (this.showAskToJoinReasonModal) {
        this.askToJoin(restaurantId,reason)
        return;
      }
      if (this.showModalReasonToLeave) {
        this.leave(restaurantId,reason)
      }
    },
    generateRestaurantTypeNameById() {
      this.restaurantTypeNameById = this.restaurantTypes.reduce((acc, restaurantType) => ({
        ...acc,
        [restaurantType.id]: restaurantType.name
      }), {});
    },
    getRestaurantsTypes() {
      getRestaurantsTypesAction()
          .then(res => res.json())
          .then(restaurantTypes => {
            this.restaurantTypes = restaurantTypes.sort((a, b) => a.name > b.name ? 1 : -1);
            this.generateRestaurantTypeNameById()
          });
    },

    getCustomerNote() {
      getNoteAction(this.restaurant.id)
          .then(res => res.json())
          .then(customerNote => {
            this.customerNote = customerNote;
          })
    },
    setCustomerNote(note) {
      setNoteAction(this.restaurant.id,note).then(res =>
        reactFromAPIPut(
            res,
            {},
            this.createAlert,
            "Note attribuée avec succès!"
        ).then(success => {
          if (!success)
            return;
          this.customerNote = note;
          this.updateAverageNote();
        })
      )
      this.showHideSetCustomerNote();
    },
    showHideSetCustomerNote() {
      this.showSetCustomerNote = !this.showSetCustomerNote;
    },

    deleteNote() {
      deleteNoteAction(this.restaurant.id)
        .then(res =>
          reactFromAPIDelete(
              res,
              {},
              this.createAlert,
              "Note supprimée"
          ).then(success => {
            if (!success)
              return;
            this.customerNote = null;
            this.updateAverageNote();
          })
        )
    },

    updateAverageNote() {
      getAverageNoteAction(this.restaurant.id)
          .then(res => res.json())
          .then(averageNote => {
            this.restaurant.averageNote = averageNote;
            if (this.restaurants) {
              for (let i=0;i<this.restaurants.length;i++) {
                if (this.restaurants[i].id === this.restaurant.id) {
                  this.restaurants[i].averageNote = averageNote;
                  break;
                }
              }
            }
          });
    },

    showHideProposeNewTypeModal() {
      this.showProposeNewTypeModal = !this.showProposeNewTypeModal;
    }
  },
  beforeMount() {
    this.setViewToDisplayInModal(RestaurantDetails.name);
    if (this.restaurantTypesProp !== null) {
      this.restaurantTypes = this.restaurantTypesProp;
    } else {
      this.getRestaurantsTypes();
    }
    if (this.user.session && this.restaurant.validated) {
      this.getCustomerNote();
    }
    this.generateRestaurantTypeNameById();
  }
}
</script>

<style scoped>

</style>
