<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getRestaurantsTypes as getRestaurantsTypesAction
} from "@/actions/TypeActions";
import {
  getRestaurants as getRestaurantsAction,
  getMemberedRestaurants as getMemberedRestaurantsAction,
  getOwnedRestaurants as getOwnedRestaurantsAction,
  getOneRestaurant as getOneRestaurantAction,
  checkIfIsMember as checkIfIsMemberAction,
  createRestaurant as createRestaurantAction
} from "@/actions/RestaurantActions";
import {getAverageNote as getAverageNoteAction} from "@/actions/NoteActions";
import {provideDatas, provideMethods} from "@/libs/genProvider";
import {reactFromAPIPost} from "../libs/reactFromAPI";

export default {
  inject: ['user', 'createAlert'],
  name: "RestaurantListProvider",
  data() {
    const data = {
      restaurants: [],
      totalRestaurants: null,
      nbByPageRestaurant: null,

      restaurantTypes: [],
      restaurantTypeNameById: {},

      searched: false,
      searching: false,

      showTypeModal: false,
      showProposeNewTypeModal: false,

      restaurantDetailsToShowModal: null,
      restaurantDetailsById: {},

      showNewRestaurantModal: false,

      filterDefaultValues: {
        name: '',
        city: '',
        zipcode: '',
        address: '',
        phonenumber: '',
        nbPlace: '',
        validated: 'all',
        restaurantTypes: [],
        member: false,
        owner: false
      },
      violations: {
        name: [],
        city: [],
        zipcode: [],
        address: [],
        phonenumber: [],
        nbPlace: []
      },
      filterValues: {},
    };
    this.detectPredefinedFilters(this.$route, data);
    return data;
  },
  provide() {
    const provider = {};

    provideDatas(provider, 'restaurantListProvider', this);
    provideMethods(provider, 'restaurantListProvider', this);

    return provider;
  },
  methods: {
    showHideTypeModal() {
      this.showTypeModal = !this.showTypeModal;
    },
    showHideProposeNewTypeModal() {
      this.showProposeNewTypeModal = !this.showProposeNewTypeModal;
    },

    async showRestaurantModal(restaurant) {
      if (this.restaurantDetailsById[restaurant.id] === undefined) {
        this.restaurantDetailsById[restaurant.id] = await getOneRestaurantAction(restaurant.id).then(res => res.json());
        this.restaurantDetailsById[restaurant.id].isMember = restaurant.isMember;
        this.restaurantDetailsById[restaurant.id].averageNote = restaurant.averageNote;
        this.restaurantDetailsById[restaurant.id].members = null
      }
      this.restaurantDetailsToShowModal = this.restaurantDetailsById[restaurant.id];
    },
    hideRestaurantModal() {
      this.restaurantDetailsToShowModal = null;
    },


    filterIsAccessible(name) {
      if (name === "validated") {
        return this.user.isGranted('ROLE_ADMIN') || this.filterValues.member || this.filterValues.owner
      }
      if (name === "member" || name === "owner") {
        return this.user.isGranted('ROLE_RESTORER');
      }
      return true
    },
    addRemoveRestaurantType(selectedId) {
      selectedId = parseInt(selectedId);
      for (let i = 0; i < this.filterValues.restaurantTypes.length; i++) {
        const id = this.filterValues.restaurantTypes[i];
        if (id === selectedId) {
          this.filterValues.restaurantTypes.splice(i, 1);
          return;
        }
      }
      this.filterValues.restaurantTypes.push(selectedId);
    },

    formatFilterFromQuery(name, value) {
      if (['owner', 'member'].includes(name)) {
        return value === 'true';
      }
      if (name === 'restaurantTypes') {
        return value.split(',').map(id => parseInt(id));
      }

      if (name === "nbPlace") {
        return parseInt(value);
      }

      return value;
    },
    formatFilterToFetch(name, value) {
      if (name === "restaurantTypes") {
        return value.join(",");
      }
      if (name === "validated") {
        if (value === "all")
          return null;
        return value === "yes";
      }
      return value;
    },
    filterNeedsToBeFetch(name) {
      return !['owner', 'member'].includes(name)
    },


    getRestaurantsTypes() {
      getRestaurantsTypesAction()
          .then(res => res.json())
          .then(restaurantsTypes => {
            this.restaurantTypeNameById = restaurantsTypes.reduce((acc, restaurantType) => ({
              ...acc,
              [restaurantType.id]: restaurantType.name
            }), {});
            this.restaurantTypes = restaurantsTypes.sort((a, b) => a.name > b.name ? 1 : -1);
          });
    },
    getRestaurants(page = 1) {
      this.searching = true;
      if (page === 1) {
        this.searched = false;
        this.restaurants = [];
        this.restaurantDetailsById = {};
      }
      const filters = Object.entries(this.filterValues).reduce((acc, [name, value]) => {
        const formattedValue = this.formatFilterToFetch(name, value);
        return {
          ...acc,
          ...((this.filterNeedsToBeFetch(name) && formattedValue !== "" && formattedValue !== null) ? {[name]: formattedValue} : {})
        }
      }, {});

      let action = getRestaurantsAction;
      if (this.filterValues.member) {
        action = getMemberedRestaurantsAction
      }
      if (this.filterValues.owner) {
        action = getOwnedRestaurantsAction
      }

      action(filters,page)
          .then(res => res.json())
          .then(async ({result: restaurants, total, nb_by_page}) => {
            this.totalRestaurants = total;
            this.nbByPageRestaurant = nb_by_page;
            this.restaurants = [
                ...this.restaurants,

                ...(await Promise.all(restaurants.map(async restaurant => {

                  const isMember = (this.user.isGranted("ROLE_RESTORER") && restaurant.validated) ?
                      (await checkIfIsMemberAction(restaurant.id).then(res => res.status === 204)) :
                      false;
                  const averageNote = restaurant.validated ? await getAverageNoteAction(restaurant.id).then(res => res.json()) : null;
                  return {
                    ...restaurant,
                    isMember,
                    averageNote
                  }
                })))
            ];
            this.searching = false;
            this.searched = true;
          });
    },
    displayMore() {
      this.getRestaurants(Math.floor(this.restaurants.length/this.nbByPageRestaurant)+1);
    },
    detectPredefinedFilters($route, data) {
      for (const name of Object.keys(data.filterDefaultValues)) {
        data.filterValues[name] = $route.query[name] !== undefined ? this.formatFilterFromQuery(name, $route.query[name]) : data.filterDefaultValues[name];
      }
    },

    showHideNewRestaurantModal() {
      this.showNewRestaurantModal = !this.showNewRestaurantModal;
    },
    createRestaurant(values) {
      createRestaurantAction(values)
          .then(async res =>
            reactFromAPIPost(
                res,
                this.violations,
                this.createAlert,
                "Restaurant créé avec succès!"
            ).then(success => {
              if (!success)
                return;
              this.showNewRestaurantModal = false;
              this.createAlert({
                color: "green",
                text: "Vous devez désormais attendre sa validation par un administrateur",
                icon: "check"
              }, 7000);
            })
          )
    }
  },
  watch: {
    'filterValues.owner': function (owner) {
      if (owner) {
        this.filterValues.member = false;
      } else if (!this.filterValues.member) {
        this.filterValues.validated = 'all';
      }
    },
    'filterValues.member': function (member) {
      if (member) {
        this.filterValues.owner = false
      } else if (!this.filterValues.owner) {
        this.filterValues.validated = 'all';
      }
    },
    $route(newRoute) {
      this.detectPredefinedFilters(newRoute, this);
    }
  },
  beforeMount() {
    this.getRestaurantsTypes();
  }
}
</script>

<style scoped>

</style>
