<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  getSchedules as getSchedulesAction,
  createSchedule as createScheduleAction,
  putSchedule as putScheduleAction,
  deleteSchedule as deleteScheduleAction
} from "@/actions/ScheduleActions";
import {provideDatas, provideMethods} from "@/libs/genProvider";
import {clearViolations} from "@/libs/formViolations";
import {formatFormTimeToISO} from "@/libs/timeFormatter";
import {reactFromAPIDelete, reactFromAPIPost, reactFromAPIPut} from "@/libs/reactFromAPI";

export default {
  name: "ScheduleProvider",
  inject: ['createAlert'],
  data: () => ({
    days: [
      'Lundi',
      'Mardi',
      'Mercredi',
      'Jeudi',
      'Vendredi',
      'Samedi',
      'Dimanche'
    ],
    schedules: [],
    loading: false,
    showAddScheduleModal: false,
    scheduleToEditInModal: null,
    violations: {
      name: [],
      start: [],
      ending: [],
      nbPlace: [],
      days: []
    },
    scheduleToShowReservationModal: null
  }),
  props: {
    restaurant: Object
  },
  provide() {
    const provider = {};

    provideDatas(provider, 'scheduleProvider', this);
    provideMethods(provider, 'scheduleProvider', this);

    return provider;
  },
  methods: {
    showHideAddScheduleModal() {
      this.showAddScheduleModal = !this.showAddScheduleModal;
      if (this.showAddScheduleModal) {
        clearViolations(this.violations);
      }
    },
    showEditScheduleModal(schedule) {
      this.scheduleToEditInModal = schedule
    },
    hideEditScheduleModal() {
      this.scheduleToEditInModal = null;
    },

    createSchedule(values) {
      createScheduleAction(this.restaurant.id, values)
          .then(async res =>
            reactFromAPIPost(
                res,
                this.violations,
                this.createAlert,
                "Service créé avec succès!!",
            ).then(async success => {
              if (!success)
                return;
              const json = await res.json();
              this.schedules.push(json);
              setTimeout(() => {
                this.showHideAddScheduleModal()
              }, 500);
            })
          )
    },
    putSchedule(scheduleId, values) {
      putScheduleAction(scheduleId, values)
          .then(async res =>
            reactFromAPIPut(
                res,
                this.violations,
                this.createAlert,
                "Service édité avec succès!!"
            ).then(success => {
              if (!success)
                return;
              for (let i = 0; i < this.schedules.length; i++) {
                if (this.schedules[i].id === scheduleId) {
                  for (const [key, value] of Object.entries(values)) {
                    if (['start', 'ending'].includes(key)) {
                      this.schedules[i][key] = formatFormTimeToISO(value);
                      continue;
                    }
                    if (key === 'nbPlace') {
                      this.schedules[i].nbPlace = parseInt(value);
                      continue;
                    }
                    this.schedules[i][key] = value
                  }
                }
              }
              setTimeout(() => {
                this.hideEditScheduleModal()
              }, 500);
            })
          )
    },
    deleteSchedule(schedule) {
      if (!confirm("Voulez vous vraiment supprimez ce service?")) {
        return;
      }
      deleteScheduleAction(schedule.id)
        .then(async res =>
          reactFromAPIDelete(
              res,
              this.violations,
              this.createAlert,
              "Service supprimé avec succès!"
          ).then(success => {
            if (!success)
              return;
            for (let i=0;i<this.schedules.length;i++) {
              if (this.schedules[i].id === schedule.id) {
                this.schedules.splice(i,1);
                break;
              }
            }
          })
        )
    },

    getSchedules() {
      this.loading = true;
      getSchedulesAction(this.restaurant.id).then(res => res.json())
          .then(schedules => {
            this.schedules = schedules;
            this.restaurant.schedules = schedules;
            this.loading = false;
          });
    },


    setScheduleToShowReservationModal(schedule) {
      this.scheduleToShowReservationModal = schedule;
    },
    hideScheduleToShowReservationModal() {
      this.scheduleToShowReservationModal = null;
    }
  },
  beforeMount() {
    if (this.restaurant.validated && this.restaurant.schedules === undefined) {
      this.getSchedules();
    } else if (this.restaurant.schedules) {
      this.schedules = this.restaurant.schedules;
    }
  }
}
</script>

<style scoped>

</style>
