<template>
  <div>
    <slot></slot>
  </div>
</template>

<script>
import {
  register as registerAction,
  login as loginAction,
  validate as validateAction,
  me,
  putNames as putNamesAction,
  patchPassword as patchPasswordAction,
  resetPassword as resetPasswordAction
} from "../actions/UserActions";
import {provideMethods,provideDatas} from "@/libs/genProvider";
import {reactFromAPIPost, reactFromAPIPut} from "@/libs/reactFromAPI";
import {clearViolations} from "@/libs/formViolations";

export default {
  name: 'UserProvider',
  inject: ['createAlert'],
  data: () => ({
    session: null,
    violations: {
      email: [],
      firstname: [],
      lastname: [],
      plainPassword: []
    },
    roleNames: {
      ROLE_USER: "Utilisateur",
      ROLE_RESTORER: "Restaurateur",
      ROLE_ADMIN: "Administrateur"
    }
  }),
  beforeMount() {
    this.session = JSON.parse(localStorage.getItem("session"));
  },
  provide() {
    const provider = {};

    provideMethods(provider,'user',this);
    provideDatas(provider,'user',this);

    return provider;
  },
  methods: {
    clearViolations() {
      clearViolations(this.violations);
    },
    showRoles() {
      return this.session ? this.session.roles.map(role => this.roleNames[role]).join(", ") : null;
    },
    isGranted(role) {
      if (this.session === null) return false;
      return this.session.roles.includes(role);
    },
    async validate(registerToken) {
      const res = await validateAction(registerToken);

      if (res.status === 204) {
        setTimeout(() => {
          this.$router.push("/login");
        }, 2000)
        return true
      }
      return false;
    },
    logout() {
      if (confirm("Voulez vous vous déconnecter?")) {
        this.session = null;
        localStorage.removeItem("session");
        this.$router.push("/");
      }
    },
    updateSession(data) {
      this.session = {
        ...this.session,
        ...data
      }
      localStorage.setItem("session", JSON.stringify(this.session));
    },
    updateNames(values) {
      putNamesAction(values)
          .then(res =>
              reactFromAPIPut(
                  res,
                  this.violations,
                  this.createAlert,
                  "Données modifiées avec succès !"
              ).then(success => {
                if (!success)
                  return;

                this.updateSession(values);
              })
          )
    },
    updatePassword({plainPassword,confirmPassword}) {
      if (plainPassword !== confirmPassword) {
        this.clearViolations();
        this.violations.plainPassword.push("Vous avez mal répété votre mot de passe")
        return;
      }
      return patchPasswordAction(plainPassword)
        .then(res =>
          reactFromAPIPut(
              res,
              {},
              this.createAlert,
              "Mot de passe modifié avec succès!"
          )
        )
    },
    login(values) {
      loginAction(values)
          .then(async res => {
            const jsonRes = await res.json();
            if (res.status === 401) {
              this.createAlert({
                color: "red",
                text: jsonRes.message,
                icon: "times"
              });
            } else {

              me(jsonRes.token).then(res => res.json())
                .then(userData => {
                  this.createAlert({
                    color: "green",
                    text: "connection réussie!!",
                    icon: "check"
                  });
                  this.session = {
                    ...userData,
                    token: jsonRes.token
                  };
                  localStorage.setItem("session", JSON.stringify(this.session));
                  setTimeout(() => {
                    this.$router.push("/");
                  }, 500);
                })
            }
          })
    },
    register(values) {
      if (values.plainPassword !== values.confirmPassword) {
        this.clearViolations();
        this.violations.plainPassword.push("Vous avez mal répété votre mot de passe")
        return;
      }
      registerAction(values)
          .then(async( res) => {
            reactFromAPIPost(
                res,
                this.violations,
                this.createAlert,
                "Inscription réussie!!"
            ).then(success => {
              if (success) {
                setTimeout(() => {
                  this.$router.push("/registered");
                }, 2000)
              }
            })
          })
          .catch(() => {
            this.createAlert({
              color: "red",
              text: "Une erreur est survenue",
              icon: "times"
            });
          })
    },

    resetPassword(email) {
      return resetPasswordAction(email)
        .then(res =>
          reactFromAPIPost(
              res,
              {},
              this.createAlert,
              "Un mail vous a été envoyé!"
          )
        )
    }
  }
}
</script>
