<template>
  <div class="mb-8">
    <MenuForm
        v-if="showNewMenuForm"
        title="Nouveau menu"
        :on-close="showHideNewMenuForm"
        :on-submit="submitAddMenu"
        class="mt-5 border-2 border-gray-500"
    />
    <PlateForm
        v-if="showNewElementForm"
        title="Nouveau plat"
        :on-close="showHideNewElementForm"
        :on-submit="submitAddElement"
        class="mt-5 border-2 border-gray-500"
    />

    <Button
        v-if="
      user.session &&
      menuProvider.restaurant.owner.id === user.session.id &&
      menuProvider.restaurant.validated &&
      (menus.length > 0 || (menus.length === (elements ? elements.length : 0) ))"
        more-classes="mt-5 mx-5"
        @click="showHideNewMenuForm()"
        type="primary"
    >
      Nouveau menu
    </Button>
    <Button
        v-if="
      user.session &&
      menuProvider.restaurant.owner.id === user.session.id &&
      menuProvider.restaurant.validated &&
      elements !== null &&
      (elements.length > 0 || menus.length === elements.length)"
        more-classes="mt-5 mx-5"
        @click="showHideNewElementForm()"
        type="primary"
    >
      Nouveau plat
    </Button>
  </div>
</template>

<script>
import MenuForm from "@/components/MenuForm";
import PlateForm from "@/components/PlateForm";

export default {
  name: "CreateMenuAndElement",
  inject: ['menuProvider','user'],
  components: {MenuForm, PlateForm},
  data: () => ({
    showNewMenuForm: false,
    showNewElementForm: false
  }),
  props: {
    elements: Array,
    menus: Array,
    parent: Object
  },
  methods: {
    submitAddMenu(values) {
      this.menuProvider.createMenu(this.parent, values).then((success) => {
        if (success) {
          this.showHideNewMenuForm();
        }
      })
    },
    submitAddElement(values) {
      this.menuProvider.createElement(this.parent, values).then(success => {
        if (success) {
          this.showHideNewElementForm();
        }
      })
    },
    showHideNewMenuForm() {
      this.showNewElementForm = false;
      this.showNewMenuForm = !this.showNewMenuForm;
    },
    showHideNewElementForm() {
      this.showNewMenuForm = false;
      this.showNewElementForm = !this.showNewElementForm;
    }
  }
}
</script>

<style scoped>

</style>
