<template>
  <div>
    <div v-for="(element, index) in elements" :key="element._id"
         :class="index > 0 ? 'mt-5': ''">
      <div v-show="!element.editing">
        <div class="inline-block">
            <span
                class="text-xl underline"
            >
              {{ element.name }}
            </span>
          <p>
            {{ element.description }}
          </p>
          <div v-if="element.todays">
            <font-awesome-icon
                icon="crown"
                color="#d6dd00"
            />
            Plat du jour
          </div>
          <div>{{ element.price }} €</div>
            <font-awesome-icon
            v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated"
            class="w-8 h-8 mb-4 mr-4 px-2 cursor-pointer hover:bg-gray-400 px-2 rounded-lg"
            icon="edit"
            @click="menuProvider.showHideEditElement(element)"
            />
          <font-awesome-icon
            v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated"
            class="w-8 h-8 mb-4 mr-4 px-2 cursor-pointer hover:bg-gray-400 px-2 rounded-lg"
            icon="trash"
            @click="menuProvider.deleteElement(parent,element._id)"
        />
        </div>
        <div class="relative ml-20 inline-block">
          <font-awesome-icon
              v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated && index < elements.length-1"
              class="h-6 w-6 px-1 py-1 rounded-lg hover:bg-gray-400 cursor-pointer mb-4"
              icon="arrow-down"
              @click="menuProvider.downElement(parent,element._id)"
          />
          <font-awesome-icon
              v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated && index > 0"
              class="h-6 w-6 px-1 py-1 rounded-lg hover:bg-gray-400 cursor-pointer mb-4"
              icon="arrow-up"
              @click="menuProvider.upElement(parent,element._id)"
          />
        </div>
      </div>
      <PlateForm
          v-if="element.editing"
          :initial-values="element"
          title="Editer ce plat"
          :on-close="() => menuProvider.showHideEditElement(element)"
          :on-submit="(values) => menuProvider.editElement(parent,element,values)"
      />
    </div>
  </div>
</template>

<script>
import PlateForm from "@/components/PlateForm";

export default {
  name: "ListElements",
  inject: ['menuProvider', 'user'],
  components: {PlateForm},
  props: {
    parent: Object,
    elements: Array
  }
}
</script>

<style scoped>

</style>