<template>
  <div>
    <div
        v-for="(menu,index) in menus"
        :key="menu._id"
    >

      <font-awesome-icon
          v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated"
          class="mr-2 cursor-pointer hover:bg-gray-400 rounded-lg"
          style="width: 30px; height: 30px; margin-bottom: calc(2.5rem - 15px)"
          icon="trash"
          @click="menuProvider.deleteMenu(parent,menu._id)"
      />
      <hr
          v-if="level > 0"
          :style="'width: '+(level/divideWidth*100)+'%;'"
          class="inline-block border-gray-400 mb-4 border-dashed border-2"
      />
      <div
          class="py-5 mt-4 border-2 border-gray-700 rounded-xl inline-block relative h-20 ml-0 cursor-pointer hover:bg-gray-200"
          :style="
              'width: calc('+((divideWidth-level)/divideWidth*100)+'% - 40px)'
            "
          @click="menuProvider.expandUnexpandMenu(menu)"
      >
        <div
            class="absolute left-5 top-6 flex flex-row content-center"
        >
          <span v-show="!menu.editing" class="text-2xl text-left select-none mb-3">{{ menu.name }}</span>
          <div v-show="menu.editing">
            <input type="text" v-model="menu.name" @click="$event.stopPropagation();"/>
            <font-awesome-icon
                class="ml-4 w-7 h-7 px-1 py-1 rounded-lg hover:bg-gray-400"
                icon="times"
                @click="$event.stopPropagation(); menuProvider.cancelMenuEdit(menu)"
            />
          </div>
          <font-awesome-icon
              v-if="user.session && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated"
              class="ml-4 w-7 h-7 px-1 py-1 rounded-lg hover:bg-gray-400"
              icon="edit"
              @click="$event.stopPropagation(); menuProvider.editMenu(menu)"
          />
        </div>


        <font-awesome-icon
            v-if="user.session && !menu.editing && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated && index < menus.length-1"
            class="h-6 w-6 px-1 py-1 right-32 top-7 absolute rounded-lg hover:bg-gray-400"
            icon="arrow-down"
            @click="$event.stopPropagation(); menuProvider.downMenu(parent,menu._id)"
        />
        <font-awesome-icon
            v-if="user.session && !menu.editing && menuProvider.restaurant.owner.id === user.session.id && menuProvider.restaurant.validated && index > 0"
            class="h-6 w-6 px-1 py-1 right-24 top-7 absolute rounded-lg hover:bg-gray-400"
            icon="arrow-up"
            @click="$event.stopPropagation(); menuProvider.upMenu(parent,menu._id)"
        />

        <span class="absolute right-10 top-7 rounded-xl">
            <font-awesome-icon
                class="w-6 h-6"
                :icon="menu.expanded ? 'angle-down' : 'angle-right'"
            />
          </span>
      </div>

      <RecursiveShowMenus v-show="menu.expanded" :parent-prop="menu" :level="level+1"/>
    </div>
  </div>
</template>

<script>

export default {
  name: "ListSubMenus",
  inject: ['menuProvider','user'],
  data: () => ({
    divideWidth: 6,
  }),
  props: {
    menus: Array,
    level: Number,
    parent: Object
  }
}
</script>

<style scoped>

</style>