<template>
  <div>
    <div v-if="parent !== null" v-show="!menuProvider.loading">
      <div v-if="level === 0" class="relative">
        <img
            :src="refresh"
            class="w-5 h-5 hover:bg-gray-200 cursor-pointer rounded-full absolute right-20 bottom-1"
            @click="menuProvider.getRestaurantMenu()"
        />
      </div>

      <ListSubMenus :menus="menus" :parent="parent" :level="level"/>

      <ListElements v-if="elements !== null" :parent="parent" :elements="elements"/>

      <div v-if="menus.length === 0 && (elements === null || elements.length === 0)" class="text-lg">
        <span>Il n'y a rien dans ce {{ level === 0 ? 'restaurant' : 'menu' }}</span>
      </div>

      <CreateMenuAndElement :menus="menus" :elements="elements" :parent="parent" />

      <hr v-if="level > 0" class="border-gray-500"/>
    </div>
    <div v-if="level === 0" v-show="menuProvider.loading">
      Chargement...
    </div>
  </div>
</template>


<script>

import ListSubMenus from "@/views/Menus/ListSubMenus";
import ListElements from "@/views/Menus/ListElements";
import CreateMenuAndElement from "@/views/Menus/CreateMenuAndElement";
import refresh from "@/assets/refresh.png";

export default {
  name: "RecursiveShowMenus",
  components: {CreateMenuAndElement, ListElements, ListSubMenus},
  inject: ['menuProvider'],
  data: () => ({refresh}),
  props: {
    parentProp: {
      type: Object,
      default: null
    },
    level: {
      type: Number,
      default: 0
    }
  },
  computed: {
    parent() {
      return this.parentProp ?? this.menuProvider.menus;
    },
    menus() {
      return this.parent ? (this.parent.menus ?? this.parent.subMenus) : []
    },
    elements() {
      return this.parent ? (this.parent.elements ?? null) : null
    }
  }
}
</script>

<style scoped>

</style>
